<mz-sidenav fixed="true" backgroundClass="grey darken-3" [id]="'sidenav'">
  <mz-sidenav-header>
    <div class="blue white-text">
      <img src="assets/images/logo.png"><span >Audium</span>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLinkActive="active current" [routerLink]="['home']" class="waves-effect">
      <i class="material-icons white-text">home</i>
      <span class="white-text">Home</span>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
      <a [routerLink]="['account']" class="waves-effect">
          <i class="material-icons white-text">account_box</i>
          <span class="white-text">Your Account</span>
        </a>
  </mz-sidenav-link>
  <mz-sidenav-collapsible [onClose]="" [onOpen]="">
    <mz-sidenav-collapsible-header>
      <i class="material-icons white-text" style="padding: 0 16px;">library_music</i>
      <span class="white-text" style="padding-left:8px;">Your Library</span>
    </mz-sidenav-collapsible-header>
    <mz-sidenav-collapsible-content>
      <div class="grey darken-2">
        <mz-sidenav-link>
          <a [routerLink]="['songs']" class="waves-effect">
            <i class="material-icons white-text">audiotrack</i>
            <span class="white-text">Songs</span>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a [routerLink]="['albums']" class="waves-effect">
            <i class="material-icons white-text">album</i>
            <span class="white-text">Albums</span>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a [routerLink]="['artists']" class="waves-effect">
            <i class="material-icons white-text">record_voice_over</i>
            <span class="white-text">Artists</span>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a [routerLink]="['playlists']" class="waves-effect">
            <i class="material-icons white-text">queue_music</i>
            <span class="white-text">Playlists</span>
          </a>
        </mz-sidenav-link>
      </div>
    </mz-sidenav-collapsible-content>
  </mz-sidenav-collapsible>
  <app-musicplayer></app-musicplayer>
</mz-sidenav>
