<mz-sidenav fixed="true" backgroundClass="grey darken-3" [id]="'sidenav'">
  <mz-sidenav-header>
    <div class="blue">
      <a class="audium-logo" [routerLink]="['/dash/home']" (mouseover)="onMouseOverLogo()" (mouseout)="onMouseOutLogo()">
        <img [src]="logoImg">
        <span>Audium</span>
      </a>
      <a class="waves-effect right logout-bt" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </a>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['home']" class="waves-effect">
      <div>
        <i class="material-icons" style="vertical-align: text-top">home</i>
        <span class="sidenav-text">Home</span>
      </div>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['account']" class="waves-effect">
      <div>
          <img width="24" height="24" style="vertical-align: middle;" class="circle" src="{{accountImage}}" onerror="this.src='assets/images/defaults/user_profile.svg'">
          <!-- <i class="material-icons" style="vertical-align: text-top">account_box</i> -->
        <span class="sidenav-text">{{accountName}}</span>
      </div>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-collapsible [onClose]="" [onOpen]="" (click)="changeExpansion()">
    <mz-sidenav-collapsible-header>
      <i class="material-icons white-text" style="padding: 0 16px;">library_music</i>
      <span class="white-text" style="padding-left:8px;">Your Library
        <i *ngIf="isExpanded == false" class="material-icons white-text right">keyboard_arrow_down</i>
        <i *ngIf="isExpanded == true" class="material-icons white-text right">keyboard_arrow_up</i>
      </span>
    </mz-sidenav-collapsible-header>
    <mz-sidenav-collapsible-content>
      <div class="grey darken-2">
        <mz-sidenav-link>
          <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['songs']" class="waves-effect">
            <div>
              <i class="material-icons" style="vertical-align: text-top">audiotrack</i>
              <span class="sidenav-text">Songs</span>
            </div>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['albums']" class="waves-effect">
            <div>
              <i class="material-icons" style="vertical-align: text-top">album</i>
              <span class="sidenav-text">Albums</span>
            </div>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['artists']" class="waves-effect">
            <div>
              <i class="material-icons" style="vertical-align: text-top">record_voice_over</i>
              <span class="sidenav-text">Artists</span>
            </div>
          </a>
        </mz-sidenav-link>
        <mz-sidenav-link>
          <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['playlists']" class="waves-effect">
            <div>
              <i class="material-icons" style="vertical-align: text-top">queue_music</i>
              <span class="sidenav-text">Playlists</span>
            </div>
          </a>
        </mz-sidenav-link>
      </div>
    </mz-sidenav-collapsible-content>
  </mz-sidenav-collapsible>
  <app-musicplayer></app-musicplayer>
</mz-sidenav>
