<div class="row fade-in-half-sec">
  <h1 class="col s12">Account Options</h1>
</div>
<br>
<div class="row ">
  <div class="col s3 offset-s2 center">
    <button class="admin-console-button" (click)="openCreateAccountWindow()">
      <i class="material-icons admin-icon">person_add</i>
    </button>
    <div class="admin-button-label">Add Account</div>
  </div>
  <div class="col s3 offset-s1 center">
    <button class="admin-console-button" (click)="openDeleteAccountWindow()">
      <i class="material-icons admin-icon">delete_forever</i>
    </button>
    <div class="admin-button-label">Delete Account</div>
  </div>
</div>
<div class="row ">
  <div class="col s3 offset-s2 center">
    <button class="admin-console-button" (click)="openBanStatusWindow(true)">
      <i class="material-icons admin-icon">block</i>
    </button>
    <div class="admin-button-label">Ban Account</div>
  </div>
  <div class="col s3 offset-s1 center">
    <button class="admin-console-button" (click)="openBanStatusWindow(false)">
      <i class="material-icons admin-icon">check</i>
    </button>
    <div class="admin-button-label">Unban Account</div>
  </div>
</div>

