<div class="card">
    <div class="card-image">
      <img class="responsive-img" src="assets/images/parallax.png">
      <span class="card-title black" id="large-card-title">
        <h1 style="display: inline; vertical-align: middle;">User name</h1>
        <a style="margin-left: 20px;" class="waves-effect waves-light btn">Follow</a>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light blue">
        <i class="material-icons">play_arrow</i>
      </a>
    </div>
  </div>
  
  <mz-tab
  [fixedTabWidth]="'true'"
  [responsiveThreshold]="'true'"
  >
  <mz-tab-item [label]="'Overview'">
    <div class="row" style="margin-top: 20px;">
      <h2 style="text-align: center;">Albums</h2>
    </div>
    <div class="row" *ngIf="artist && artist.albums">
      <div class="col s12 m3" *ngFor="let album of artist.albums">
        <div class="card">
          <div class="card-image">
            <img [routerLink]="['../../album', album?.albumId]" src="assets/images/defaults/album.svg">
            <span class="card-title black" id="small-card-title" [routerLink]="['../../album', album?.albumId]">
              <h4 class="truncate">{{album?.albumTitle}}</h4>
              <h5>{{album?.year.substring(0,4)}}</h5>
            </span>
            <a class="btn-floating halfway-fab waves-effect waves-light blue">
              <i class="material-icons">play_arrow</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'About'"><h3><p>{{artist?.bio}}</p></h3>
  </mz-tab-item>
  <mz-tab-item [label]="'Related Artists'"><h3>Related Artists</h3></mz-tab-item>
  <mz-tab-item [label]="'Events'"><h3>Events</h3></mz-tab-item>
  </mz-tab>