<div class="row fade-in-1-sec" #mainContentDiv style="margin-bottom: 0px;">
  <div class="card col s12 z-depth-0 transparent" *ngIf="profile" style="padding-left: 0px; padding-right: 0px;">
    <div class="card-image" #profileBannerDiv (window:resize)="0" [ngStyle]="{ 'height.px': bannerHeight }">
      <div class="profile-banner" [ngStyle]="{ 'height.px': bannerHeight }">
        <img src="{{mediaPath}}/images/profiles/{{profile?.accountId}}/Banner.jpg" onError="this.src='assets/images/defaults/banner.png'" [ngStyle]="{ 'width.px': bannerWidth }">
        <!-- Use the div below to apply opacity or color masks to the banner image -->
        <div class="profile-banner-mask" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;"></div>
        <span class="card-title black fade-in-half-sec" id="large-card-title">
          <h1 class="fade-in-1-sec" style="display: inline; vertical-align: middle;">{{profile?.username}}</h1>
          <span  class="follow-status" *ngIf="!isOwner">
          <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                  *ngIf="profile?.publicProfile && !isFollowing()" (click)="changeFollowStatus(true, profile)">
          FOLLOW
          </button>
          <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                  *ngIf="profile?.publicProfile && isFollowing()" (click)="changeFollowStatus(false, profile)">
          UNFOLLOW
          </button>
          </span>
          <div class="user-profile-pic-detailed right" style="position: absolute; bottom: 0px; right: 0px;" [ngStyle]="{ 'width.px': (bannerHeight / 2.5), 'height.px': (bannerHeight / 2.5) }">
            <!-- Remove "false && " from ngIf to enable -->
            <entity-card-collection
              #userProfilePicCard
              *ngIf="false && profile"
              [nRows]="1"
              [nPerRow]="1"
              [showAllBtHoverText]=""
              [profiles]="[ profile ]"
              [tryAllImageTypes]="true"
              [showAll]="true"
              [displayShowAllBt]="false"
              [displayName]="false"
              [loadingAnimation]="false"
              [detailedContextMenu]="true"
              [disableHoverable]="true"
              [collectionPadding]="false"
              [entityPadding]="false"
              [collectionAddClass]="'right'"
              [entityAddClass]="'right'"
            ></entity-card-collection>
          </div>
        </span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="profile && profile?.publicProfile">
    <mz-tab
    [fixedTabWidth]="'true'"
    [responsiveThreshold]="'true'"
    >
    <mz-tab-item [label]="'Overview'" [active]="true">
      <div (window:resize)="0" [ngStyle]="{ 'min-height.px': (mainContentDiv.offsetWidth / 4)}">
        <div class="row fade-in-half-sec" style="margin-top: 30px;" *ngIf="profile?.recentSongs">
          <h2 style="text-align: center;">Recently Played</h2>
        </div>
        <div class="row fade-in-1-sec" style="padding-bottom: 35px;" *ngIf="profile?.recentSongs">
          <table class="bordered responsive-table white-text fade-in-half-sec" *ngIf="profile?.recentSongs?.length > 0">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th class="center">Time Played</th>
              </tr>
            </thead>
            <tbody class="tracklist">
              <tr *ngFor="let song of profile?.recentSongs?.slice(0, 10); let i = index" (dblclick)="playProfileSongs(i)"
                  [ngClass]="{ 'playing': song.isPlaying }" >
                <td class="song-number">
                  <!-- <div class="song-number-value">{{i+1}}.</div> -->
                  <div class="song-number-value"> </div>
                  <a (click)="playbackSong($event,song)" class="song-playback-icon"  *ngIf="!song?.isPlaying">
                    <i class="material-icons" style=" font-size: 1.9rem; vertical-align: middle">play_circle_outline</i>
                  </a>
                  <a (click)="pausePlayback($event)" class="song-playback-icon" *ngIf="song?.isPlaying">
                    <i class="material-icons" style=" font-size: 1.9rem; vertical-align: middle">pause</i>
                  </a>
                </td>
                <td>
                  {{song?.title}}
                  <i *ngIf="song.isExplicit" class="material-icons" style="margin-left: 20px; vertical-align: middle;">explicit</i>
                </td>
                <td *ngIf="song"><a [routerLink]="['../../artist', song?.artistId]">{{song?.artistName}}</a></td>
                <td *ngIf="song"><a [routerLink]="['../../album', song?.albumId]">{{song?.albumTitle}}</a></td>
                <td class="center">{{song?.timePlayed | timeAgo}}</td>
              </tr>
            </tbody>
          </table>
          <div class="col s12 fade-in-half-sec" style="margin-bottom: 20px;" *ngIf="profile?.recentSongs?.length == 0">
            <div class="card-panel large transparent z-depth-0 center">
              <h3 class="grey-text">User hasn't listened to any songs</h3>
            </div>
          </div>
        </div>
        <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!profile?.recentSongs">
          <div class="loader">Loading...</div>
        </div>
      </div>
    </mz-tab-item>
    <mz-tab-item [label]="'Library'">
      <entity-card-collection
        #createdPlaylistCollection
        [nRows]="3"
        [nPerRow]="4"
        [nRowsInShowAllBt]="3"
        [title]="'Playlists'"
        [noEntitiesMessage]="'User hasn\'t created any playlists'"
        [showAllBtHoverText]="'Show all playlists'"
        [albums]=""
        [artists]=""
        [playlists]="profile?.createdPlaylists"
        [tryAllImageTypes]="false"
        [forceDefaultImage]="true"
        [showAll]="false"
        [displayShowAllBt]="true"
        [displayName]="true"
        [displayAuthor]="false"
        [displayYear]="false"
        [loadingAnimation]="true"
        [libraryContextMenu]="false"
        [detailedContextMenu]="false"
        [playFromCard]="true"
        [typeOfContent]="'playlist'"
      ></entity-card-collection>
    </mz-tab-item>
    <mz-tab-item [label]="'Following'">
      <div class="col s12" *ngIf="profile?.recentSongs || profile?.createdPlaylists || profile?.following">
        <ul class="collection" style="margin-top: 20px; border:none;" *ngIf="profile?.following?.length > 0">
          <li class="collection-item avatar fade-in-1-sec grey darken-4" *ngFor="let following of profile?.following">
            <a [routerLink]="['../../profile', following?.accountId]">
              <img src="assets/images/defaults/user_profile.svg" alt="" class="circle hoverable">
            </a>
            <span class="title profile-link"><a [routerLink]="['../../profile', following?.accountId]">{{following?.username}}</a></span>
            <p class="white-text">{{following?.followerCount}} Follower<span *ngIf="following?.followerCount != 1">s</span>
              <br>
            </p>
            <a class="secondary-content">
              <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                      (click)="changeFollowStatus(true, following)" *ngIf="!isOwner">
                FOLLOW
              </button>
              <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                      (click)="changeFollowStatus(false, following)" *ngIf="isOwner">
                UNFOLLOW
              </button>
            </a>
          </li>
        </ul>
        <div class="col s12 fade-in-half-sec" style="margin-bottom: 20px;" *ngIf="profile?.following?.length == 0">
          <div class="card-panel large transparent z-depth-0 center">
            <h3 class="grey-text">User isn't following anyone</h3>
          </div>
        </div>
      </div>
      <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!profile?.following">
        <div class="loader">Loading...</div>
      </div>
    </mz-tab-item>
    <mz-tab-item [label]="'Followers'">
      <div class="col s12" *ngIf="profile?.recentSongs || profile?.createdPlaylists || profile?.following || profile?.followers">
        <ul class="collection" style="margin-top: 20px; border:none;" *ngIf="profile?.followers?.length > 0">
          <li class="collection-item avatar fade-in-1-sec grey darken-4" *ngFor="let follower of profile?.followers">
            <a [routerLink]="['../../profile', follower?.accountId]">
              <img src="assets/images/defaults/user_profile.svg" alt="" class="circle hoverable">
            </a>
            <span class="title profile-link"><a [routerLink]="['../../profile', follower?.accountId]">{{follower?.username}}</a></span>
            <p class="white-text">{{follower?.followerCount}} Follower<span *ngIf="follower?.followerCount != 1">s</span>
              <br>
            </p>
            <a class="secondary-content">
              <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                      (click)="changeFollowStatus(true, follower)" *ngIf="!isOwner">
                FOLLOW
              </button>
            </a>
          </li>
        </ul>
        <div class="col s12 fade-in-half-sec" style="margin-bottom: 20px;" *ngIf="profile?.followers?.length == 0">
          <div class="card-panel large transparent z-depth-0 center">
            <h3 class="grey-text">User has no followers</h3>
          </div>
        </div>
      </div>
      <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!profile?.followers">
        <div class="loader">Loading...</div>
      </div>
    </mz-tab-item>
    </mz-tab>
  </ng-container>

  <div class="row fade-in-2-sec" *ngIf="profile && !profile?.publicProfile" style="margin-bottom: 0px;">
    <div class="col s12">
      <div class="card-panel large transparent z-depth-0">
        <div class="row"></div>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel large transparent z-depth-0 center">
        <h2 class="grey-text">User's profile is private</h2>
      </div>
    </div>
  </div>

  <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!profile && profileExists">
    <div class="loader">Loading...</div>
  </div>
  <div class="row fade-in-2-sec" *ngIf="!profile && !profileExists" style="margin-bottom: 0px;">
      <div class="col s12">
        <div class="card-panel large transparent z-depth-0">
          <div class="row"></div>
        </div>
      </div>
      <div class="col s12">
        <div class="card-panel large transparent z-depth-0 center">
          <h2 class="grey-text">User's profile doesn't exist</h2>
        </div>
      </div>
    </div>
</div>
