
  <div class="row center">
    <div class="white-text darken-2 left payment-info-text">{{this.title}}</div><br><br>
    <form #f="ngForm" (ngSubmit)="submitPaymentInfo()">
      <div *ngIf="validInfo == false" class="card-panel white-text red lighten-1 payment-error-cpl center-align">Invalid Information. Please try again.</div>
      <div class="row">
      <div class="input-field col s12 payment-modal center">
        <input ngModel required="required"
               name="ccNumber" id="cc"
               type="text"
               class="validate"
               maxlength="16"
               pattern="\d+"
               [appInputFormat]="'cc'"
               [(ngModel)]="PaymentInfo.ccNumber"
        >
        <label class="active" for="cc">Card Number</label>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s6 payment-modal center">
          <input ngModel required
                 name="ccv" id="ccv" type="text"
                 class="validate" maxlength="3"
                 pattern="\d+"
                 [(ngModel)]="PaymentInfo.ccCCV">
          <label class="active" for="ccv">CCV</label>
      </div>
        <div class="input-field col s6 payment-modal center">
          <input ngModel required
                 name="zipcode" id="zipcode"
                 type="text" class="validate"
                 maxlength="5"
                 pattern="\d+"
                 [(ngModel)]="PaymentInfo.zipCode">
          <label class="active" for="zipcode">Zip Code</label>
        </div>
      </div>
      <div class="row">
        <mz-select-container>
          <div class="col s6">
            <select mz-select
                    ngModel
                    required
                    name="exp-month"
                    id="exp-month"
                    class="white-text"
                    [(ngModel)]="PaymentInfo.ccExprMonth"
            >
              <option value=""></option>
              <option  *ngFor="let month of months" value="{{month}}">{{month}}</option>
            </select>
          </div>
          <label class="active white-text" for="exp-month">Expiration date</label>
        </mz-select-container>
        <mz-select-container>
          <div class="col s6">
            <select mz-select
                    ngModel
                    required
                    name="exp-year"
                    id="exp-year"
                    class="white-text"
                    [(ngModel)]="PaymentInfo.ccExprYear"
            >
              <option value=""></option>
              <option  *ngFor="let year of years" value="{{year}}" >{{year}}</option>
            </select>
          </div>
        </mz-select-container>
      </div>
      <div class="row center">
        <button mz-button
                [disabled]="!f.valid"
                type='submit'
                [flat]="true"
                class="btn waves-effect">{{this.buttonName}}</button>
        <button mz-button  mat-dialog-close="no" [flat]="true"
                class="waves-effect">Cancel</button>
      </div>
    </form>
  </div>

