<div class="row fade-in-1-sec" #mainContentDiv style="margin-bottom: 0px;">
  <div class="card col s12 z-depth-0 transparent" *ngIf="artist" (contextmenu)="artistMenu.onContextMenu($event, artist)" style="padding-left: 0px; padding-right: 0px;">
    <div class="card-image" #artistBannerDiv (window:resize)="0" [ngStyle]="{ 'height.px': bannerHeight }">
      <div class="artist-banner" [ngStyle]="{ 'height.px': bannerHeight }">
        <img src="{{mediaPath}}/images/artists/{{artist?.artistId}}/Banner.jpg" onError="this.src='assets/images/defaults/banner.png'" [ngStyle]="{ 'width.px': bannerWidth }">
        <!-- Use the div below to apply opacity or color masks to the artist banner image -->
        <div class="artist-banner-mask" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;"></div>
        <span class="card-title black fade-in-half-sec" id="large-card-title">
          <h1 class="fade-in-1-sec" style="display: inline; vertical-align: middle;">{{artist?.artistName}}</h1>
          <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                  *ngIf="!isFollowing()" (click)="changeFollowStatus(true)">
          FOLLOW
          </button>
          <button mz-button class="detailed-follow-btn btn-medium waves-effect"
                  *ngIf="isFollowing()" (click)="changeFollowStatus(false)">
          UNFOLLOW
          </button>
        </span>
        <div class="artist-profile-pic-detailed right" style="position: absolute; bottom: 0px; right: 0px;" [ngStyle]="{ 'width.px': (bannerHeight / 2.5), 'height.px': (bannerHeight / 2.5) }">
          <!-- Remove "false && " from ngIf to enable -->
          <entity-card-collection
            #artistProfilePicCard
            *ngIf="false && artist"
            [nRows]="1"
            [nPerRow]="1"
            [showAllBtHoverText]=""
            [artists]="[ artist ]"
            [tryAllImageTypes]="true"
            [showAll]="true"
            [displayShowAllBt]="false"
            [displayName]="false"
            [displayAuthor]="false"
            [loadingAnimation]="false"
            [detailedContextMenu]="true"
            [disableHoverable]="true"
            [collectionPadding]="false"
            [entityPadding]="false"
            [collectionAddClass]="'right'"
            [entityAddClass]="'right'"
          ></entity-card-collection>
        </div>
        <a (click)="playArtistSongs(0, artist?.songs)" class="btn-floating halfway-fab waves-effect waves-light hoverable blue-bt" *ngIf="artist?.songs?.length > 0">
          <i class="material-icons">play_arrow</i>
        </a>
      </div>
    </div>
  </div>
  <ng-container *ngIf="artist">
    <mz-tab [fixedTabWidth]="'true'" [responsiveThreshold]="'true'">
      <mz-tab-item class="fade-in-half-sec" [label]="'Overview'" [active]="true">

        <ng-container>
          <track-list-component
            #popularSongs
            [title]="'Popular Songs'"
            [songs]="artist?.songs"
            [displayShowAllBt]="false"
            [displayArtist]="false"
            [displayPlayCount]="true"
            [noEntitiesMessage]="'No popular songs by this artist'"
            [trackNumberSuffix]="'.'"
          ></track-list-component>
        </ng-container>

        <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="!artist?.songs && artist?.albums">
          <div class="loader">Loading...</div>
        </div>

        <entity-card-collection
          #albumCollection
          [nRows]="3"
          [nPerRow]="4"
          [nRowsInShowAllBt]="3"
          [title]="'Albums'"
          [noEntitiesMessage]="'No albums by this artist'"
          [showAllBtHoverText]="'Show all albums'"
          [albums]="artist?.albums"
          [tryAllImageTypes]="false"
          [forceDefaultImage]="false"
          [showAll]="false"
          [displayShowAllBt]="true"
          [displayName]="true"
          [displayAuthor]="false"
          [displayYear]="true"
          [loadingAnimation]="true"
          [libraryContextMenu]="false"
          [detailedContextMenu]="false"
          [playFromCard]="true"
          [typeOfContent]="'albums'"
        ></entity-card-collection>

        <div class="row fade-in-2-sec" *ngIf="artist?.songs?.length == 0 && artist?.albums?.length == 0">
          <div class="col s12">
            <div class="card-panel large transparent z-depth-0 center">
              <h2 class="grey-text">No songs or albums by this artist</h2>
            </div>
          </div>
          <div class="col s12">
            <div class="card-panel large transparent z-depth-0">
              <div class="row" (window:resize)="0" [ngStyle]="{ 'min-height.px': (mainContentDiv.offsetWidth / 4) }"></div>
            </div>
          </div>
        </div>
      </mz-tab-item>
      <mz-tab-item [label]="'About'" class="fade-in-half-sec">
        <div class="col s10 offset-s1" style="background-color: rgba(0, 0, 0, 0.1); margin-top: 3px;" *ngIf="artist" (window:resize)="0" [ngStyle]="{ 'min-height.px': (mainContentDiv.offsetWidth / 4)}">
          <h2 class="center" style="margin-top: 30px;">Bio</h2>
          <h3 style="margin-top: 10px; margin-bottom: 20px; font-weight: 500; line-height: 25px;">
            <div [innerHTML]="artist?.bio"></div>
          </h3>
        </div>
        <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="!artist">
          <div class="loader">Loading...</div>
        </div>
      </mz-tab-item>

      <mz-tab-item [label]="'Similar Artists'" class="fade-in-half-sec">
        <entity-card-collection
          #similarArtistCollection
          [nRows]="3"
          [nPerRow]="4"
          [nRowsInShowAllBt]="3"
          [title]="'Similar Artists'"
          [noEntitiesMessage]="'No similar artists'"
          [showAllBtHoverText]="'Show all'"
          [albums]=""
          [artists]="similarArtists"
          [playlists]=""
          [tryAllImageTypes]="false"
          [forceDefaultImage]="false"
          [showAll]="false"
          [displayShowAllBt]="true"
          [displayName]="true"
          [displayAuthor]="false"
          [displayYear]="false"
          [loadingAnimation]="true"
          [libraryContextMenu]="false"
          [detailedContextMenu]="false"
        ></entity-card-collection>
      </mz-tab-item>

      <mz-tab-item [label]="'Events'" class="fade-in-half-sec">
        <div (window:resize)="0" [ngStyle]="{ 'min-height.px': (mainContentDiv.offsetWidth / 4)}">
          <div class="row fade-in-half-sec" *ngIf="artist?.events">
            <h2 class="center" style="margin-top: 30px;">Upcoming Events</h2>
            <ul class="collection" style="margin-top: 20px; border:none; border-bottom-style: solid; border-bottom-color: white; border-bottom-width: 1px;"
            *ngIf="artist?.events?.length > 0">
              <li class="collection-item grey darken-4 fade-in-half-sec" *ngFor="let event of showAllEvents ? artist?.events : artist?.events?.slice(0, (artist?.events?.length > 10 ? 9 : 10))">
                <div class="row valign-wrapper" style="margin-bottom: 0px;">
                  <div class="col s1" style="padding-left: 0px; padding-right: 0px;">
                    <div style="width: 50px;" *ngIf="event?.eventDate" mz-tooltip
                    [tooltip]="event?.eventDate?.slice(0, 10) == today ? 'Today' : getFullDate(event?.eventDate)"
                    [position]="'left'" [html]="true">
                      <div style="height: 20px;" [ngStyle]="{ 'background-color': (event?.eventDate < today ? 'grey' : 'red') }"><h4 class="white-text center" style="padding-top: 2px;">{{monthNamesShort[(+event?.eventDate?.substring(5,7))-1]}}</h4></div>
                      <div style="height: 30px; background-color: white;">
                        <h3 class="center" style="padding-top: 5px;" [ngStyle]="{ 'color': (event?.eventDate < today ? 'rgb(89,89,89)' : 'black') }">
                          <b>{{(event?.eventDate?.substring(8,10))}}</b>
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col s8">
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                      <div class="col s7">
                        <div class="row" #eventTitleRow style="margin-bottom: 0px;">
                          <div class="col m3" style="padding-left: 0px;">
                            <div class="row valign-wrapper" style="margin-bottom: 0px;" (window:resize)="0" [ngStyle]="{ 'min-height.px': eventTitleRow.offsetHeight, 'max-height.px': eventTitleRow.offsetHeight }">
                              <div class="col m12" style="padding: 0px;">
                                <h4 class="text-lighten-1" style="font-weight: normal;" [ngClass]="(event?.eventDate < today ? 'grey-text' : (event?.isCancelled ? 'red-text' : (event?.eventDate > today ? 'white-text' : 'blue-text')))">
                                  <div *ngIf="!event?.isCancelled && event?.eventDate?.slice(0, 10) == today" style="font-weight: bold;">Today</div>
                                  <div *ngIf="!event?.isCancelled && event?.eventDate?.slice(0, 10) > today">Upcoming</div>
                                  <div *ngIf="!event?.isCancelled && event?.eventDate?.slice(0, 10) < today">Ended</div>
                                  <div *ngIf="event?.isCancelled">Cancelled</div>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="col m9" style="padding-left: 0px;">
                            <div class="row valign-wrapper" style="margin-bottom: 0px;" (window:resize)="0" [ngStyle]="{ 'min-height.px': eventTitleRow.offsetHeight, 'max-height.px': eventTitleRow.offsetHeight }">
                              <h4 class="white-text">{{event?.eventTitle}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s5" *ngIf="event?.address">
                        <a class="white-grey-link" (click)="navigateToMaps(event?.address)" mz-tooltip [tooltip]="'View on Google Maps'" [position]="'right'" [html]="true">
                          <span style="font-size: 16px; font-weight: 500;"><i class="material-icons">location_on</i> {{event?.address?.addressLine1}}, {{event?.address?.city}} {{event?.address?.state}}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col s3">
                    <a class="right waves-effect waves-light btn blue-bt" (click)="navigateToTickets(event?.eventTitle)"
                    mz-tooltip [tooltip]="'Get tickets on TicketMaster'" [position]="'left'" [html]="true"
                    [ngClass]="((event?.isCancelled || event?.eventDate < today) ? 'disabled' : '')">
                      Get Tickets
                    </a>
                  </div>
                </div>
              </li>
              <li class="fade-in-1-sec valign-wrapper center-align" style="text-align: center; font-size: 18px; font-weight: bold; min-height: 50px;" *ngIf="!showAllEvents && artist?.events?.length > 10">
                <div style="min-width: 100%;">
                  <a class="white-grey-link" (click)="showAllEvents = true">Show all upcoming events</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 fade-in-half-sec" style="margin-bottom: 40px;" *ngIf="artist?.events?.length == 0">
            <div class="card-panel large transparent z-depth-0 center">
              <h3 class="grey-text">No upcoming events</h3>
            </div>
          </div>
          <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="!artist?.events">
            <div class="loader">Loading...</div>
          </div>
        </div>
      </mz-tab-item>
    </mz-tab>


  </ng-container>

  <!-- Loading animation -->
  <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!artist">
    <div class="loader">Loading...</div>
  </div>
</div>

<app-song-menu #songMenu [songs]="artist?.songs" ></app-song-menu>
<app-artist-menu #artistMenu [artists]="artist" [library]="false"></app-artist-menu>
<app-album-menu #albumMenu> </app-album-menu>
