span h5 a:hover, span h4 a:hover {
    color: #9e9e9e;
}

.col.s12.m3.fade-in-1-sec {
    padding-bottom: 10px;
}

.artist-banner-img {

}


.detailed-follow-btn {
    margin-left: 25px;
}
.detailed-follow-btn:hover {
    background-color: #29b6f6;
}
