<div class="row center">
  <div class="white-text darken-2 left change-pass-info-text">Change Password</div><br><br>
  <form #f="ngForm" (ngSubmit)="submitPassChange(f.value)">
    <div *ngIf="validInfo == false" class="card-panel white-text red lighten-1 error-cp1 center-align">Invalid Information. Please try again.</div>
    <div class="row">
      <div class="input-field col s12 payment-modal center">
        <input ngModel required="required"
               name="oldPass" id="oldPass"
               type="password"
               class="validate"
        >
        <label class="active" for="oldPass">Old Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 payment-modal center">
        <input ngModel required="required"
               name="newPass" id="newPass"
               type="password"
               class="validate"
               #newPass="ngModel"
        >
        <label class="active" for="newPass">New Password</label>
      </div>
    </div>
    <div class="row center">
      <button mz-button
              [disabled]="!f.valid"
              type='submit'
              [flat]="true"
              class="waves-effect">Change</button>
      <button mz-button  mat-dialog-close [flat]="true"
              class="waves-effect">Cancel</button>
    </div>
  </form>

</div>
