/* label color */
.input-field label {

    color: grey;
}
/* label focus color */
.input-field input:focus + label {
    color: grey;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px  white;
    box-shadow: 0 1px 0 0 #2196f3;
}

.input-field {
    color: grey;
}

button:hover {
    background-color: #2196f3;
}

.change-pass-info-text {
    font-size: large;

}
