.admincontent-title-text {
    font-size: xx-large;
    margin-bottom: 20px;
}


/* label color */
.input-field label {

    color: white;
}
/* label focus color */
.input-field input:focus + label {
    color: white;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px  white;
    box-shadow: 0 1px 0 0 #2196f3;
}

.input-field {
    font-size: large;
    color: white;
}

.select-wrapper ul li>span {
    color: grey;
}

button:hover {
    background-color: #2196f3;
}

button {
    color: white;
}

/** FOR ADDING **/

.admin-content-add > .row > .input-field input{
    margin-top: 5%;
    font-size: x-large;
}

.admin-content-add > .row > .input-field  label {
    font-size: x-large;
}


input[type="checkbox"], input[type="radio"] + label {
    pointer-events: auto;

}

input[type="radio"]:checked + label:after {
    background-color: #2196f3;
}

.radio-button-title {
    color: white;
}

.radio-button label {
    padding: 0;
    padding-left: 30px;
}

/** FOR DELETING  **/

.admin-content-delete > .row > .input-field > input{
    margin-top: 5%;
    font-size: x-large;
}

.admin-content-delete > .row > .input-field label {
    font-size: x-large;
}

