


.switch label input[type=checkbox]+.lever, .switch label input[type=checkbox]:checked+.lever {
  /*background-color: rgb(127, 183, 243);*/
  /*background-color: rgb(147, 203, 243);*/
  /*background-color: white;*/
  background-color: rgb(158, 158, 158);
}

.switch label input[type=checkbox]+.lever:after, .switch label input[type=checkbox]:checked+.lever:after {
  background-color: rgb(33, 150, 243);
}

.switch label input[type=checkbox]:disabled+.lever, .switch label input[type=checkbox]:disabled+.lever:disabled {
  background-color: rgb(197, 197, 197);
}

.switch label input[type=checkbox]:disabled+.lever:after {
    background-color: rgb(100, 100, 100);
}

.edit-button {
  border-radius: 20vw;
}

.account-btn {
    border-radius: 20vw;
    background-color: #2196f3;
    width: 100%;
    font-size: large;
}

.account-btn:hover {
    background-color: rgb(64, 167, 243);
}

.account-btn-pssw {
    width: 75%;
    font-size: large;
}

.account-btn-ug {
    background-color: rgb(76, 175, 80);
    width: 100%;
    border-radius: 20vw;
    margin-top: 10%;
    font-size: large;
    font-weight: bold;
}

.account-btn-ug:hover {
    background-color: rgb(108, 189, 111);
}

.account-btn-dg {
    background-color: rgb(244, 67, 54);
    width: 100%;
    border-radius: 20vw;
    margin-top: 10%;
    font-size: large;
    font-weight: bold;
}

.account-btn-dg:hover {
    background-color: rgb(244, 80, 71);
}

.account-subtext{
  font-size: x-large;
}

.account-headings {
  font-size: x-large;
}

.account-profilepic {
  height: 5%;
  width: 10vw;
  border-radius: 50%;
}

.account-username {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  padding-top: 15%;
  padding-bottom: 15%;
}
/* label color */
.input-field label {

  color: white;
}
/* label focus color */
.input-field input:focus + label {
  color: white;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px  white;
  box-shadow: 0 1px 0 0 #2196f3;
}

.input-field {
  color: white;
}

.margin-top {
  margin-top: 10%;

}
.account-toast {
    color: white;
    background-color: white;
}

.account-text {
    font-size: x-large;
}

.account-subtxt {
    font-size: large;
    color: #ccc;
}
.account-membtxt {
    font-size: x-large;
}
.account-membtxt2 {
    font-size: xx-large;
}

.tst {
    width: 96%;
}

.following-images {
    width: 200px;
    height: 200px;
}

.account-username-link:hover {
    color: #cccccc;
}
