<h1>Account Overview</h1>
<div class="account-box row">
  <div class="col s3">
    <div class="card grey darken-2">
      <div class="card-content center">
        <div class="row">
            <img class="circle responsive-img" src="{{getCurrentUser().profilePicURL}}" onerror="this.src='assets/images/defaults/user_profile.svg'">
        </div>
        <div class="row account-username">{{getCurrentUser().username}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="toEditProfile == true" class="col s4">
    <div class="card grey darken-2">
      <div class="card-content">
      <form #f="ngForm" (ngSubmit)="submitEditProfile(f.value)">
        <div class=" row input-field">
          <div class="input-field col s5 offset-s1 margin-top">
            <input ngModel required [(ngModel)]="getCurrentUser().firstName"
                   name="firstName" id="first_name" type="text" class="validate" >
            <label class="active" for="first_name">First Name</label>
          </div>
          <div class="input-field col s5 margin-top" >
            <input ngModel required [(ngModel)]="getCurrentUser().lastName"
                   name="lastName" id="last_name" type="text" class="validate">
            <label class="active" for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row input-field">
          <mz-datepicker-container class="col s10 offset-s1 ">
            <input mz-datepicker ngModel [(ngModel)]="getCurrentUser().dob" name="dateOfBirth" id="dob" required
                   [options]="dateOptions" type="text">
            <label class="active" for="dob">Date of Birth</label>
          </mz-datepicker-container>
        </div>
        <div class="input-field row">
          <div class="col s10 offset-s1">
            <mz-select-container>
              <select mz-select
                      ngModel
                      name="gender"
                      id="gender_field"
                      [(ngModel)]="getCurrentUser().gender"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Nonbinary">Non-Binary</option>
              </select>
              <label class="active" for="gender_field">Gender</label>
            </mz-select-container>
          </div>
        </div>
        <div class="row">
          <button mz-button [disabled]="!f.valid" type='submit' class='col s4  offset-s1 blue btn  edit-button waves-effect'>
            Submit
          </button>
          <button  mz-button class='col s4 offset-s1 blue btn edit-button waves-effect'  (click)="cancelEditProfile()">
            Cancel
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div *ngIf="toEditProfile == false" class="col s4">
    <div class="card grey darken-2">
      <div class="card-content hoverable">
        <div class="row center">
          <h2>Your Profile</h2>
        </div>
        <div class="row">
          <div class="col s10 ">
            <h3>Name</h3>
            <h4>{{getCurrentUser().firstName}} {{getCurrentUser().lastName}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s10">
            <h3>Email</h3>
            <h4>{{getCurrentUser().email}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <h3>Date of birth</h3>
            <h4>{{getCurrentUser().dob}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <h3>Country</h3>
            <h4>US</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button mz-button class="account-btn btn" (click)="editProfile()">
              EDIT PROFILE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s5">
    <div class="card grey darken-2">
      <div class="card-content">
        <div class="row">
          <div class="col s6">
            <h3>Current Membership: </h3>
            <h2 [ngSwitch]="getCurrentUser().role">
              <div *ngSwitchCase="'BasicUser'"> Basic</div>
              <div *ngSwitchCase="'PremiumUser'"> Premium</div>
            </h2>
          </div>
          <div *ngIf="getCurrentUser().role === this.basicUser ; then upgrade else downgrade"></div>
          <ng-template #upgrade>
            <div class="col s6">
              <button mz-button class="account-btn-dg waves-effect green btn" (click)="openNewPaymentDialog()">
                Upgrade
              </button>
            </div>
          </ng-template>
          <ng-template #downgrade>
            <div class="col s6">
              <button mz-button class="account-btn-dg waves-effect red btn" (click)="downgradeAccount()">
                Downgrade
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="getCurrentUser().role === this.premiumUser  " class="col s5">
    <div class="card grey darken-2">
      <div class="card-content center">
        <button mz-button class="account-btn account-btn-pssw btn" (click)="openEditPaymentDialog()">
          EDIT PAYMENT INFO
        </button>
      </div>
    </div>
  </div>
  <div class="col s5">
    <div class="card grey darken-2">
      <div class="card-content center">
        <button mz-button class="account-btn account-btn-pssw btn" (click)="openChangePassDialog()">
          CHANGE PASSWORD
        </button>
      </div>
    </div>
  </div>
</div>
