<h1>Account</h1>
<mz-tab [fixedTabWidth]="'true'" [responsiveThreshold]="'true'">
  <mz-tab-item class="fade-in-half-sec" [label]="'Overview'" [active]="true">
    <div class="account-box row" style="margin: 20px 0px 0px 0px;">
      <div class="col s3">
        <div class="card grey darken-2">
          <div class="card-content center">
            <div class="row">
              <a [routerLink]="['../profile', getCurrentUser().accountId]">
                <img class="circle tst responsive-img" src="assets/images/defaults/user_profile.svg" onerror="this.src='assets/images/defaults/user_profile.svg'">
              </a>
              </div>
            <div class="row account-username">
              <a class="account-username-link" [routerLink]="['../profile', getCurrentUser().accountId]">{{getCurrentUser().username}}</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="toEditProfile == true" class="col s4">
        <div class="card grey darken-2">
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="submitEditProfile(f.value)" class="testing">
              <div class=" row input-field">
                <div class="input-field col s5 offset-s1 margin-top">
                  <input ngModel required [(ngModel)]="getCurrentUser().firstName" name="firstName" id="first_name" type="text" class="validate">
                  <label class="active" for="first_name">First Name</label>
                </div>
                <div class="input-field col s5 margin-top">
                  <input ngModel required [(ngModel)]="getCurrentUser().lastName" name="lastName" id="last_name" type="text" class="validate">
                  <label class="active" for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row input-field">
                <mz-datepicker-container class="col s10 offset-s1 ">
                  <input mz-datepicker ngModel [(ngModel)]="getCurrentUser().dob" name="dateOfBirth" id="dob" required [options]="dateOptions"
                    type="text">
                  <label class="active" for="dob">Date of Birth</label>
                </mz-datepicker-container>
              </div>
              <div class="input-field row">
                <div class="col s10 offset-s1">
                  <mz-select-container>
                    <select mz-select ngModel name="gender" id="gender_field" [(ngModel)]="getCurrentUser().gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Nonbinary">Non-Binary</option>
                    </select>
                    <label class="active" for="gender_field">Gender</label>
                  </mz-select-container>
                </div>
              </div>
              <div class="row">
                <button mz-button [disabled]="!f.valid" type='submit' class='col s4 offset-s2 blue btn edit-button waves-effect'>
                  Submit
                </button>
                <button mz-button class='col s4 offset-s1 blue btn edit-button waves-effect' (click)="cancelEditProfile()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="toEditProfile == false" class="col s4">
        <div class="card grey darken-2 account-text">
          <div class="card-content hoverable">
            <div class="row center">
              <h2>Your Profile</h2>
            </div>
            <div class="row account-text">
              <div class="col s10 ">
                <div class="white-text">Name</div>
                <div class="account-subtxt">{{getCurrentUser().firstName}} {{getCurrentUser().lastName}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col s10">
                <div class="white-text">Email</div>
                <div class="account-subtxt">{{getCurrentUser().email}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <div class="white-text">Date of birth</div>
                <div class="account-subtxt">{{getCurrentUser().dob}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <div class="white-text">Country</div>
                <div class="account-subtxt">US</div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <button mz-button class="account-btn btn" (click)="editProfile()">
                  EDIT INFORMATION
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s5">
        <div class="card grey darken-2">
          <div class="card-content white-text">
            <div class="row">
              <div class="col s6">
                <div class="account-membtxt center">Membership Tier:</div>
                <div class="account-membtxt2 center" [ngSwitch]="getCurrentUser().role">
                  <div *ngSwitchCase="'BasicUser'"> Basic</div>
                  <div *ngSwitchCase="'PremiumUser'"> Premium</div>
                </div>
              </div>
              <div *ngIf="getCurrentUser().role === this.basicUser ; then upgrade else downgrade"></div>
              <ng-template #upgrade>
                <div class="col s6">
                  <button mz-button class="account-btn-ug waves-effect btn" (click)="openNewPaymentDialog()">
                    Upgrade
                  </button>
                </div>
              </ng-template>
              <ng-template #downgrade>
                <div class="col s6">
                  <button mz-button class="account-btn-dg waves-effect btn" (click)="downgradeAccount()">
                    Downgrade
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="getCurrentUser().role === this.premiumUser  " class="col s5">
        <div class="card grey darken-2">
          <div class="card-content center">
            <button mz-button class="account-btn account-btn-pssw btn" (click)="openEditPaymentDialog()">
              EDIT PAYMENT INFO
            </button>
          </div>
        </div>
      </div>
      <div class="col s5">
        <div class="card grey darken-2">
          <div class="card-content center">
            <button mz-button class="account-btn account-btn-pssw btn" (click)="openChangePassDialog()">
              CHANGE PASSWORD
            </button>
          </div>
        </div>
      </div>
      <div class="col s5">
        <div class="card grey darken-2">
          <div class="card-content center">
            <button mz-button class="account-btn account-btn-pssw btn" (click)="openDeleteAccountDialog()">
              DELETE ACCOUNT
            </button>
          </div>
        </div>
      </div>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Settings'" class="fade-in-half-sec">
    <div class="row fade-in-1-sec" style="margin-top: 20px;">
      <div class="col  s6 m8 l10">
        <a class="btn btn-floating btn-large fade-in-half-sec" style="cursor: default;" [ngClass]="{'grey': getCurrentUser().role == 'BasicUser', 'green': getCurrentUser().role == 'PremiumUser'}">
          <i class="material-icons">translate</i>
        </a>
        <span [ngClass]="{'grey-text': getCurrentUser().role == 'BasicUser', 'white-text': getCurrentUser().role == 'PremiumUser'}" style="margin-left: 20px;">
          <b>Language</b>
        </span>
      </div>
      <div class="col s6 m4 l2">
        <div *ngIf="currentUser?.userPreferences?.accountId && (getCurrentUser().role != 'BasicUser')">
          <mz-dropdown
            [id]="'language-dropdown'"
            [belowOrigin]="false"
            [constrainWidth]="true"
            [dropdownButtonId]="'language-dropdown-bt'"
            [hover]="true"
            [inDuration]="100"
            [outDuration]="100"
            [stopPropagation]="true"
          >
            <mz-dropdown-item *ngFor="let language of languages; let i = index;"><a class="blue-text center" [ngStyle]="{ 'font-weight': (language == currentUser.userPreferences.language) ? 'bold' : '' }" (click)="setLanguage($event, i)">{{language | uppercase}}<i class="material-icons right" style="padding-right: 5px; color: transparent;">arrow_drop_down</i></a></mz-dropdown-item>
          </mz-dropdown>
          <a mz-button
            id="language-dropdown-bt"
            class='btn blue-bt white-text'
            [ngClass]="(getCurrentUser().role == 'BasicUser') ? 'disabled' : ''"
            style="width: 100%; height: 100%; padding: 0px;"
            data-activates='language-dropdown'
          >
            <span class="center">{{currentUser?.userPreferences?.language | uppercase}}</span>
            <i class="material-icons right" style="padding-right: 5px;">arrow_drop_down</i>
          </a>
        </div>
        <div *ngIf="currentUser?.userPreferences?.accountId && (getCurrentUser().role == 'BasicUser')">
          <a class='btn blue-bt white-text disabled' style="width: 100%; height: 100%; padding: 0px;">
            <span class="center">{{currentUser?.userPreferences?.language | uppercase}}</span>
            <i class="material-icons right" style="padding-right: 5px;">arrow_drop_down</i>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="divider"></div> -->
    <div class="row fade-in-1-sec" style="margin-top: 20px;">
      <div class="col s6 m8 l10">
        <a class="btn btn-floating btn-large fade-in-half-sec" style="cursor: default;" [ngClass]="{'grey': getCurrentUser().role == 'BasicUser', 'red': getCurrentUser().role == 'PremiumUser'}">
          <i class="material-icons">speaker</i>
        </a>
        <span [ngClass]="{'grey-text': getCurrentUser().role == 'BasicUser', 'white-text': getCurrentUser().role == 'PremiumUser'}" style="margin-left: 20px;"><b>Sound Quality</b></span>
      </div>
      <div class="col s6 m4 l2">
        <div *ngIf="currentUser?.userPreferences?.accountId && (getCurrentUser().role != 'BasicUser')">
          <mz-dropdown
            [id]="'quality-dropdown'"
            [belowOrigin]="false"
            [constrainWidth]="true"
            [dropdownButtonId]="'quality-dropdown-bt'"
            [hover]="true"
            [inDuration]="100"
            [outDuration]="100"
            [stopPropagation]="true"
          >
            <mz-dropdown-item *ngFor="let quality of streamingQualities; let i = index;"><a class="blue-text center" [ngStyle]="{ 'font-weight': (quality == currentUser.userPreferences.quality) ? 'bold' : '' }" (click)="setQuality($event, i)">{{quality | uppercase}}<i class="material-icons right" style="padding-right: 5px; color: transparent;">arrow_drop_down</i></a></mz-dropdown-item>
          </mz-dropdown>
          <a mz-button
            id="quality-dropdown-bt"
            class='btn blue-bt white-text'
            [ngClass]="(getCurrentUser().role == 'BasicUser') ? 'disabled' : ''"
            style="width: 100%; height: 100%; padding: 0px;"
            data-activates='quality-dropdown'
          >
            <span class="center">{{currentUser?.userPreferences?.quality | uppercase}}</span>
            <i class="material-icons right" style="padding-right: 5px;">arrow_drop_down</i>
          </a>
        </div>
        <div *ngIf="currentUser?.userPreferences?.accountId && (getCurrentUser().role == 'BasicUser')">
          <a class='btn blue-bt white-text disabled' style="width: 100%; height: 100%; padding: 0px;">
            <span class="center">{{currentUser?.userPreferences?.quality | uppercase}}</span>
            <i class="material-icons right" style="padding-right: 5px;">arrow_drop_down</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row fade-in-1-sec" style="margin-top: 20px;">
      <div class="col s6 m8 l10">
        <a class="btn btn-floating btn-large fade-in-half-sec" style="cursor: default;" [ngClass]="{'grey': getCurrentUser().role == 'BasicUser', 'purple': getCurrentUser().role == 'PremiumUser'}">
          <i class="material-icons">{{profileIcon}}</i>
        </a>
        <span class="title" [ngClass]="{'grey-text': getCurrentUser().role == 'BasicUser', 'white-text': getCurrentUser().role == 'PremiumUser'}" style="margin-left: 20px;"><b>Profile Visibility</b></span>
      </div>
      <div class="col s6 m4 l2">
        <div class="secondary-content" style="padding: 16px 12px 0px 0px;">
          <div id="profile-switch" class="switch">
            <label [ngStyle]="{ 'cursor': getCurrentUser().role == 'BasicUser' ? 'default' : '' }">
              <span [ngClass]="{'grey-text': (getCurrentUser().role == 'BasicUser' || !(currentUser?.userPreferences?.publicProfile)), 'text-lighten-2': (getCurrentUser().role == 'PremiumUser' && currentUser?.userPreferences?.publicProfile), 'blue-text': (getCurrentUser().role == 'PremiumUser' && currentUser?.userPreferences?.publicProfile)}">Public</span>
              <input [checked]="!(currentUser?.userPreferences?.publicProfile)" (click)="togglePrivateProfile($event)" type="checkbox" [disabled]="getCurrentUser().role == 'BasicUser'">
              <span class="lever"></span>
              <span [ngClass]="{'grey-text': (getCurrentUser().role == 'BasicUser' || currentUser?.userPreferences?.publicProfile), 'text-lighten-2': (getCurrentUser().role == 'PremiumUser' && !(currentUser?.userPreferences?.publicProfile)), 'blue-text': (getCurrentUser().role == 'PremiumUser' && !(currentUser?.userPreferences?.publicProfile))}">Private</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row fade-in-1-sec" style="margin-top: 20px;">
      <div class="col s6 m8 l10">
        <a class="btn btn-floating btn-large fade-in-half-sec" style="cursor: default;" [ngClass]="{'grey': getCurrentUser().role == 'BasicUser', 'blue': getCurrentUser().role == 'PremiumUser'}">
          <i class="material-icons">{{sessionIcon}}</i>
        </a>
        <span class="title" [ngClass]="{'grey-text': getCurrentUser().role == 'BasicUser', 'white-text': getCurrentUser().role == 'PremiumUser'}" style="margin-left: 20px;"><b>Session Visibility</b></span>
      </div>
      <div class="col s6 m4 l2">
        <div class="secondary-content" style="padding: 16px 12px 0px 0px;">
          <div class="switch">
            <label [ngStyle]="{ 'cursor': getCurrentUser().role == 'BasicUser' ? 'default' : '' }">
              <span [ngClass]="{'grey-text': (getCurrentUser().role == 'BasicUser' || privateSession), 'text-lighten-2': (getCurrentUser().role == 'PremiumUser' && (!privateSession)), 'blue-text': (getCurrentUser().role == 'PremiumUser' && (!privateSession))}">Public</span>
              <input [checked]="privateSession" (click)="togglePrivateSession($event)" type="checkbox" [disabled]="getCurrentUser().role == 'BasicUser'">
              <span class="lever"></span>
              <span [ngClass]="{'grey-text': (getCurrentUser().role == 'BasicUser' || (!privateSession)), 'text-lighten-2': (getCurrentUser().role == 'PremiumUser' && privateSession), 'blue-text': (getCurrentUser().role == 'PremiumUser' && privateSession)}">Private</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col s12 m10 l8 offset-m1 offset-l2 center">
        <h3 class="grey-text fade-in-1-sec" *ngIf="getCurrentUser().role == 'BasicUser'"><b>Upgrade to Premium to change profile settings</b></h3>
        <div class="center">
          <button mz-button class="account-btn account-btn-pssw btn fade-in-half-sec" @fade *ngIf="(getCurrentUser().role != 'BasicUser') && unsavedChanges" (click)="savePreferences()">
            SAVE CHANGES
          </button>
        </div>
      </div>
    </div>
  </mz-tab-item>

</mz-tab>
