
.edit-button{
  border-radius: 20vw;
}

.account-btn {
    border-radius: 20vw;
    background-color: #2196f3;
    width: 100%;
    font-size: large;
}

.account-btn-pssw {
    width: 75%;
    font-size: large;
}

.account-btn-ug,.account-btn-dg {
    width: 100%;
    border-radius: 20vw;
    margin-top: 10%;
    font-size: large;
    font-weight: bold;
}

.account-subtext{
  font-size: x-large;
}

.account-headings {
  font-size: x-large;
}

.account-profilepic {
  height: 5%;
  width: 10vw;
  border-radius: 50%;
}

.account-username {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  padding-top: 15%;
  padding-bottom: 15%;
}
/* label color */
.input-field label {

  color: white;
}
/* label focus color */
.input-field input:focus + label {
  color: white;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px  white;
  box-shadow: 0 1px 0 0 #2196f3;
}

.input-field {
  color: white;
}

.margin-top {
  margin-top: 10%;

}
.account-toast {
    color: white;
    background-color: white;
}

.account-text {
    font-size: x-large;
}

.account-subtxt {
    font-size: large;
    color: #ccc;
}
.account-membtxt {
    font-size: x-large;
}
.account-membtxt2 {
    font-size: xx-large;
}

.tst {
    width: 96%;
}

.following-images {
    width: 200px;
    height: 200px;
}
