


.account-btn {

  border-radius: 20vw;
  background-color: #2196f3;
  width: 100%;
}

.account-box {
  margin-top: 5%;

}


.account-btn-pssw {
  width: 75%;
}

.account-btn-dg {
  border-radius: 20vw;
}

.account-subtext{
  font-size: x-large;
}

.account-headings {
  font-size: x-large;
}

.account-profilepic {
  height: 5%;
  width: 12vw;
  border-radius: 50%;


}

.account-username {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  padding-top: 15%;
  padding-bottom: 15%;
}

