span h5 a:hover, span h4 a:hover {
    color: #9e9e9e;
}

.col.s12.m3.fade-in-half-sec {
    padding-bottom: 10px;
}

/** CARD W/ PLAY BUTTON **/

.card-content {
    color: rgb(236, 236, 236);
    padding-bottom: 0;
}

.card-content:hover, .card-content-emulated-hover {
    color: white;
}



