<div class="row">
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/defaults/playlist.svg">
        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">play_arrow</i></a>
      </div>
    </div>
  </div>
  <div class="col s6 m8">
    <div class="row" style="margin-top: 10px;"> <h4>Playlist</h4></div>
    <div class="row" style="margin-bottom: 0px;"><h1>{{playlist?.name}}</h1></div>
    <div class="row"><h2>by <span [routerLink]="['../../profile', playlist?.accountId]">{{playlist?.username}}</span></h2></div>
    <div class="row"><h3>{{playlist?.description}}</h3></div>
    <div class="row"><div class="chip" *ngIf="playlist && playlist.songs">{{playlist.songs.length}} songs</div></div>
  </div>
</div>
<div class="row">
  <table class="bordered responsive-table white-text">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Date Added</th>
      </tr>
    </thead>

    <tbody *ngIf="playlist && playlist.songs">
      <tr *ngFor="let song of playlist.songs">
      <td>{{song?.title}}</td>
      <td><span [routerLink]="['../../artist', song?.artistId]">{{song?.artistName}}</span></td>
      <td><span [routerLink]="['../../album', song?.albumId]">{{song?.albumTitle}}</span></td>
      <td>{{song?.timeAdded | timeAgo}}</td>
      </tr>
    </tbody>
  </table>
</div>