<div class="row fade-in-half-sec" *ngIf="playlist">
  <div class="col s6 m4" (contextmenu)="playlistMenu.onContextMenu($event, playlist)">
    <div class="card">
      <div class="card-image" >
        <img src="assets/images/defaults/playlist.svg">
        <a class="btn-floating halfway-fab waves-effect waves-light blue" *ngIf="playlist?.songs?.length > 0"><i class="material-icons">play_arrow</i></a>
      </div>
    </div>
  </div>
  <div class="col s6 m8">
    <div class="row" style="margin-top: 10px;">
      <h4>Playlist</h4>
    </div>
    <div class="row" style="margin-bottom: 0px; padding-bottom: 0px;">
      <h1 style="margin-bottom: 10px;">{{playlist?.name}}</h1>
    </div>
    <div class="row creator" *ngIf="playlist" style="margin-bottom: 5px;">
      <div class="playlist-detailed-creator">by
        <a [routerLink]="['../../profile', playlist?.accountId]">{{playlist?.username}}</a>
      </div>
    </div>
    <div class="row" *ngIf="playlist?.description.length > 0">
      <h3>{{playlist?.description}}</h3>
    </div>
    <div class="row">
      <div class="chip fade-in-half-sec white">
        {{numberOfSongs}} song<span *ngIf="numberOfSongs != 1">s</span>
      </div>
    </div>
    <div class="row">
      <div class="col s2">
        <button mz-button class="playlist-page-btn btn-medium left"
                [flat]="true" *ngIf="!isFollowing() && !isOwnerOfPlaylist()"
                (click)="changeFollowStatus(true)" >
          FOLLOW
        </button>
        <button mz-button class="playlist-page-btn btn-medium left"
                [flat]="true" *ngIf="isFollowing() && !isOwnerOfPlaylist()"
                (click)="changeFollowStatus(false)" >
          UNFOLLOW
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row fade-in-1-sec" *ngIf="playlist">
  <table class="bordered responsive-table white-text">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Date Added</th>
      </tr>
    </thead>

    <tbody class="tracklist" *ngIf="songsInPlaylist">
      <tr @fade *ngFor="let song of songsInPlaylist" (contextmenu)="songMenu.onContextMenu($event, song)" >
      <td>{{song?.title}}</td>
      <td><a [routerLink]="['../../artist', song?.artistId]">{{song?.artistName}}</a></td>
      <td><a [routerLink]="['../../album', song?.albumId]">{{song?.albumTitle}}</a></td>
      <td>{{song?.timeAdded | timeAgo}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row fade-in-2-sec" *ngIf="playlist && !songsInPlaylist">
  <div class="col s12">
    <div class="card-panel large transparent z-depth-0">
      <div class="row"></div>
    </div>
  </div>
  <div class="col s12">
    <div class="card-panel large transparent z-depth-0 center">
      <h2 class="grey-text">No songs in playlist</h2>
    </div>
  </div>
</div>

<!-- Loading animation -->
<div class="row fade-in-2-sec loading" *ngIf="!playlist">
  <div class="loader">Loading...</div>
</div>

  <app-playlist-menu #playlistMenu [playlists]="playlist" [detailed]="true"></app-playlist-menu>
  <app-song-menu #songMenu
                 [songs]="songsInPlaylist" [detailed]="true"
                 [currentPlaylist]="playlist?.playlistId"
                 [playlistOwner]="playlist?.accountId" >

  </app-song-menu>

