<div class="navbar" >
  <nav style="height: 60px;">
    <div class="nav-wrapper grey darken-3">
      <form>
        <div class="input-field">
          <input #search id="search" type="search" required (keyup.enter)="onEnter(search.value)">
          <label class="label-icon" for="search">
            <i class="material-icons content-searchicon">search</i>
          </label>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="container" style="width: 90%; margin-top: 5%">
  <h1>Albums<a class="right close-icon" (click)="closeDialog()"><i class="material-icons close-icon-i">close</i></a></h1>
  <div class="row" *ngIf="albums?.length > 0">
    <table class="bordered responsive-table white-text fade-in-half-sec">
      <thead>
      <tr>
        <th>Name</th>
        <th class="center">Album ID</th>
        <th class="center">Artist</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="tracklist">
      <tr  *ngFor="let album of albums; let i = index;" >
        <td>{{album.albumTitle}}</td>
        <td class="center">{{album.albumId}}</td>
        <td class="center"> {{album.artist.artistName}}</td>
        <td>
          <button mz-button *ngIf="toDelete" [flat]="true" class="search-del-btn right" (click)="deleteAlbum(album.albumId, i)">
            Delete
          </button>
          <button mz-button *ngIf="toAddSong" [flat]="true" class="search-del-btn right" (click)="pickToAddSong(album.albumId)">
            Add Song
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Loading animation -->
<div class="row" style="margin-top: 25%;" *ngIf="!albums || albums.length == 0">
  <h2 class="grey-text center">Nothing here</h2>
</div>
