<div class="row">
    <div class="col s6 m4">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/defaults/album.svg">
                <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">play_arrow</i></a>
            </div>
        </div>
    </div>
    <div class="col s6 m8">
        <h4>Album</h4>
        <h1>{{album?.albumTitle}}</h1>
        <h2>by <span [routerLink]="['../../artist', album?.artistId]">{{album?.artistName}}</span></h2>
		<h3><p>{{album?.year.substring(0,4)}}</p></h3>
    </div>
</div>
<div class="row">
    <table class="bordered responsive-table white-text">
        <thead>
            <tr>
			    <th>Track</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>

        <tbody *ngIf="album && album.songs">
            <tr *ngFor="let song of album.songs">
			    <td>{{song?.trackNumber}}</td>
                <td>{{song?.title}}</td>
                <td><span [routerLink]="['../../artist', song?.artistId]">{{song?.artistName}}</span></td>
                <td>{{song?.duration}}</td>
            </tr>
        </tbody>
    </table>
</div>