<h1>Home</h1>

<div class="row">
  <h2 style="text-align: center;">Jump Back In</h2>
</div>
<div class="row">
  <div class="col s12 m3" *ngFor="let recent of recents">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/everything-now.jpg">
        <span class="card-title black" id="small-card-title">
          <h4>Everything Now</h4>
          <h5>Arcade Fire</h5>
        </span>
        <a class="btn-floating halfway-fab waves-effect waves-light blue">
          <i class="material-icons">play_arrow</i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h2 style="text-align: center;">Genres</h2>
</div>
<div class="row">
  <div class="col s12 m3" *ngFor="let genre of genres">
    <div class="card-panel teal center">
      <h3>{{genre.name}}</h3>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 200px;">
  <div>Icons made by
    <a href="https://www.flaticon.com/authors/epiccoders" title="EpicCoders">EpicCoders</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
