
.card-content {
    color: rgb(236, 236, 236);
    padding-bottom: 0;
}

.card-content:hover, .card-content-emulated-hover {
    color: white;
}

.card {
    background-color: transparent;
}

.playlist-name {
    font-size: large;
    margin-top: 5%;
}


.playlist-creator {
    color: #757575 ;
}

.playlist-creator:hover {
    color: #9e9e9e ;
    border-bottom: 2px #9e9e9e solid;
}

.playlist-playbutton-div {
    position: absolute;
    z-index: 1000;
    bottom: 100px;
    left: 110px;
    display: none;
    outline: 0;
}

.card:hover > .playlist-playbutton-div {
    display: block;
}


.card:hover > .card-image{
    filter: brightness(30%);
}
.playlist-container {
    position: relative;
}

.play-icon {
    font-size: 6rem;
    transition: 0.3s;
    outline:none
}

.play-icon:hover{
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.play-icon:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.noSelect {
    outline: 0;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    min-height: 300px;
    max-height: 300px;
}

