<div class="row fade-in-half-sec">
  <h1 class="col s12">Artist Options</h1>
</div>
<br>
<div class="row ">

  <div class="col s3 offset-s1 center">
    <button class="admin-console-button" (click)="openCreateArtistWindow()">
      <i class="material-icons admin-icon">person_add</i>
    </button>
    <div class="admin-button-label">Add Artist</div>
  </div>
  <div class="col s3  center">
    <button class="admin-console-button" (click)="openDeleteArtistWindow()">
      <i class="material-icons admin-icon">delete_forever</i>
    </button>
    <div class="admin-button-label">Delete Artist</div>
  </div>
  <div class="col s3  center">
    <button class="admin-console-button" (click)="openModifyArtistWindow()">
      <i class="material-icons admin-icon">edit</i>
    </button>
    <div class="admin-button-label">Modify Artist</div>
  </div>
</div>
