
.admin-console-button{
    padding: 0;
    background-color: white;
}
.admin-icon {
    font-size: 17rem;
    color: #2196f3;
    background-color: white;
    padding: 20px;
}
.admin-console-button:hover {
    background-color: white;
}
.admin-console-button:hover > .admin-icon {
    background-color: white;
    color: #01579b  ;
}
.admin-button-label {
    color: white;
    font-size: x-large;
    margin-top: 8%;
}
