<header>
  <div *ngIf="currentAccountRole == 'BasicUser' && !upgradeBannerIsHidden" class="green accent-3" [@upgradeBannerTrigger]='upgradeBannerState'>
    <div class="row" style="margin-bottom: 0px;">
      <a [routerLink]="['account']" class="upgrade-nag col s4 offset-s4 center">
        <b>Upgrade to Audium Premium!</b>
      </a>
      <a>
        <i (click)="upgradeBannerIsHidden = true" class="material-icons upgrade-nag right">close</i>
      </a>
    </div>
  </div>
  <div class="navbar">
    <nav style="height: 60px;">
      <div class="nav-wrapper grey darken-3">
        <form *ngIf="currentAccountRole !== 'Admin'">
          <div class="input-field">
            <input #search id="search" type="search" required (keyup.enter)="onEnter(search.value)">
            <label class="label-icon" for="search">
              <i class="large material-icons content-searchicon">search</i>
            </label>
            <i class="material-icons clear-search" (click)="search.value = null">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
<main class="grey darken-4">
  <div class="container" style="width: 90%;">
    <!-- Page Content goes here -->
    <div class="row"></div>
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="fixed" *ngIf="currentUser._role == 'BasicUser' && !adBannerIsHidden" [@adBannerTrigger]>
  <div class="card" style="margin: 0px;">
    <div class="card-image">
      <a [routerLink]="">
        <img class="responsive-img" src="assets/images/cyber.gif" mz-tooltip [tooltip]="'<b>Advertisement</b>'" [position]="'top'" [html]="true">
      </a>
      <a class="close-ad" (click)="adBannerIsHidden = true">
        <span class="card-title" style="padding: 12px 12px 0px 12px;" mz-tooltip [tooltip]="'<b>Close advertisement</b>'" [position]="'right'" [html]="true">
          <i class="material-icons">close</i>
        </span>
      </a>
    </div>
  </div>
</footer>
