<header>
  <div *ngIf="currentAccountRole == 'BasicUser' && !upgradeBannerIsHidden" class="green accent-3" [@upgradeBannerTrigger]='upgradeBannerState'>
    <div class="row" style="margin-bottom: 0px;">
      <a [routerLink]="['account']" class="white-text col s4 offset-s4 center">
        <b>Upgrade to Audium Premium!</b>
      </a>
      <a>
        <i (click)="upgradeBannerIsHidden = true" class="material-icons white-text right">close</i>
      </a>
    </div>
  </div>
  <div class="navbar">
    <nav style="height: 60px;">
      <div class="nav-wrapper grey darken-3">
        <form *ngIf="currentAccountRole !== 'Admin'">
          <div class="input-field">
            <input #search id="search" type="search" required (keyup.enter)="onEnter(search.value)">
            <label class="label-icon" for="search">
              <i class="large material-icons content-searchicon">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
<main class="grey darken-4">
  <div class="container" style="width: 90%;">
    <!-- Page Content goes here -->
    <div class="row"></div>
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="fixed" *ngIf="currentUser._role == 'BasicUser'" [@adBannerTrigger]="adBannerState">
  <div class="card transparent" style="margin: 0px;" >
    <div class="card-image">
      <a [routerLink]="">
        <img class="responsive-img" src="assets/images/cyber.gif">
      </a>
      <span class="card-title black" style="padding: 12px 12px 0px 12px;">
        <a (click)="closeAdBanner()"><i class="material-icons white-text">close</i> </a>
      </span>
    </div>
  </div>
</footer>
