<div class="track-list-collection-main" style="background-color: transparent; color: inherit;" #mainDiv *ngIf="songs">
  <div #headerDiv class="track-list-collection-header" *ngIf="injectHeaderDivSelector || injectHeaderElement"></div>
  <div #titleDiv class="track-list-collection-title row" *ngIf="songs && (title?.length > 0 || forceDisplayTitleDiv || injectTitleElementSelector || injectTitleElement)">
    <ng-template class="fade-in-half-sec" *ngIf="titleUseHtml; then htmlTitleElement else defaultTitleElement"></ng-template>
    <ng-template #defaultTitleElement>
      <h2 class="fade-in-1-sec center" style="margin-top: 50px;" *ngIf="title?.length > 0">{{title}}</h2>
    </ng-template>
    <ng-template #htmlTitleElement>
      <div [innerHTML]="title | safeHtml"></div>
    </ng-template>
  </div>
  <div #subtitleDiv class="track-list-collection-subtitle" *ngIf="injectSubtitleDivSelector || injectSubtitleElement"></div>
  <!-- Track list -->
  <div class="track-list-collection-content row" style="margin-bottom:0;" *ngIf="songs">
    <table class="bordered responsive-table white-text" *ngIf="songs?.length > 0">
      <thead #trackTableHead class="fade-in-half-sec">
        <tr>
          <!-- Option 1:
          <th *ngIf="displayTrackNumber || (!disablePlayPauseBt)" [ngStyle]="{ 'text-align': trackNumberAlign }">{{trackNumberHeader}}</th>
          <th *ngIf="displaySongTitle" [ngStyle]="{ 'text-align': songTitleAlign }">{{songTitleHeader}}</th>
          -->
          <!-- Option 2:
          <th *ngIf="displayTrackNumber" [ngStyle]="{ 'text-align': trackNumberAlign }">{{trackNumberHeader}}</th>
          <th *ngIf="displaySongTitle" [attr.colspan]="((!displayTrackNumber) && (!disablePlayPauseBt)) ? 2 : 1" [ngStyle]="{ 'text-align': songTitleAlign }">{{songTitleHeader}}</th>
          -->
          <th *ngIf="displayTrackNumber" [ngStyle]="{ 'text-align': trackNumberHeaderAlign }">{{trackNumberHeader}}</th>
          <th *ngIf="displaySongTitle" [attr.colspan]="((!displayTrackNumber) && (!disablePlayPauseBt)) ? 2 : 1" [ngStyle]="{ 'text-align': songTitleHeaderAlign }">{{songTitleHeader}}</th>
          <th *ngIf="displayArtist" [ngStyle]="{ 'text-align': artistHeaderAlign }">{{artistHeader}}</th>
          <th *ngIf="displayAlbum" [ngStyle]="{ 'text-align': albumHeaderAlign }">{{albumHeader}}</th>
          <th *ngIf="displayYear" [ngStyle]="{ 'text-align': yearHeaderAlign }">{{yearHeader}}</th>
          <th *ngIf="displayGenre" [ngStyle]="{ 'text-align': genreHeaderAlign }">{{genreHeader}}</th>
          <th *ngIf="displayDuration" [ngStyle]="{ 'text-align': durationHeaderAlign }">{{durationHeader}}</th>
          <th *ngIf="displaySaved" [ngStyle]="{ 'text-align': savedHeaderAlign }">{{savedHeader}}</th>
          <th *ngIf="displayTimeAdded" [ngStyle]="{ 'text-align': timeAddedHeaderAlign }">{{timeAddedHeader}}</th>
          <th *ngIf="displayTimePlayed" [ngStyle]="{ 'text-align': timePlayedHeaderAlign }">{{timePlayedHeader}}</th>
          <th *ngIf="displayPlayCount" [ngStyle]="{ 'text-align': playCountHeaderAlign }">{{playCountHeader}}</th>
          <th *ngIf="displayPlayCountLastMonth" [ngStyle]="{ 'text-align': playCountLastMonthHeaderAlign }">{{playCountLastMonthHeader}}</th>
        </tr>
      </thead>
      <tbody class="tracklist track-list-collection-list">
        <tr *ngFor="let song of (showAll || (songs?.length <= nRows)) ? songs : displayShowAllBt ? songs?.slice(0, nRows - 1) : songs?.slice(0, nRows); let i = index;"
          (dblclick)="disableDoubleClick ? absorbMouseEvent($event, i, true) : playSong(song, i)"
          (contextmenu)="disableContextMenu ? absorbMouseEvent($event, i, true) : songContextMenu.onContextMenu($event, song)"
          [ngClass]="{ 'playing': (displayPlaying && song.isPlaying || song.isPaused) }"
        >
          <td class="song-number" *ngIf="displayTrackNumber || (!disablePlayPauseBt)" [ngStyle]="{ 'text-align': trackNumberAlign }">
            <!-- <div class="song-number-value" *ngIf="displayTrackNumber && song?.trackNumber">{{song?.trackNumber}}.</div> -->
            <!-- <div class="song-number-value" *ngIf="displayTrackNumber && (!song?.trackNumber)">{{i+1}}.</div> -->
            <div class="song-number-value" *ngIf="displayTrackNumber" [ngClass]="{'invisible-icons': song.isPlaying }">{{i+1}}{{trackNumberSuffix}}</div>
            <a (click)="playSong(song,i)" class="song-playback-icon"  *ngIf="(!disablePlayPauseBt) && (!song.isPlaying)" [ngClass]="{'visible-icons': song.isPlaying }">
              <i class="material-icons" style=" font-size: 1.9rem; vertical-align: middle">play_circle_outline</i>
            </a>
            <a (click)="pauseSong(song)" class="song-playback-icon" *ngIf="(!disablePlayPauseBt) && song.isPlaying" [ngClass]="{'visible-icons': song.isPlaying }">
              <i class="material-icons" style=" font-size: 1.9rem; vertical-align: middle">pause</i>
            </a>
          </td>
          <td *ngIf="displaySongTitle" [ngStyle]="{ 'text-align': songTitleAlign }">
            {{song?.title}}
            <i *ngIf="displayExplicit && song.isExplicit" class="material-icons" style="margin-left: 20px; vertical-align: middle;">explicit</i>
          </td>
          <td *ngIf="song && displayArtist" [ngStyle]="{ 'text-align': artistAlign }"><a [routerLink]="[detailedArtistPage(i)]" (contextmenu)="disableContextMenu ? absorbMouseEvent($event, i, true) : artistContextMenu.onContextMenu($event, { artistId: artistId(i), followed: false } )">{{artistName(i)}}</a></td>
          <td *ngIf="song && displayAlbum" [ngStyle]="{ 'text-align': albumAlign }"><a [routerLink]="[detailedAlbumPage(i)]" (contextmenu)="disableContextMenu ? absorbMouseEvent($event, i, true) : albumContextMenu.onContextMenu($event, { albumId: albumId(i), followed: false } )">{{albumTitle(i)}}</a></td>
          <td *ngIf="displayYear" [ngStyle]="{ 'text-align': yearAlign }">{{song?.year?.substring(0,4)}}</td>
          <!-- @TODO: Genre page <td *ngIf="displayGenre" [routerLink]="['detailedGenrePage(i)']">{{genreName(i)}}</td> -->
          <td *ngIf="displayGenre" [ngStyle]="{ 'text-align': genreAlign }">{{genreName(i)}}</td>
          <td *ngIf="displayDuration" [ngStyle]="{ 'text-align': durationAlign }">
            <!-- NOTE: Putting these spans on separate lines creates a space for some reason. Though ugly, we should keep them on the same line -->
            <span *ngIf="song?.duration?.substring(0,3) != '00:'">{{song?.duration?.substring(0,3)}}</span><span *ngIf="song?.duration?.substring(3,4) != '0' || song?.duration?.substring(0,3) != '00:'">{{song?.duration?.substring(3,4)}}</span>{{song?.duration?.substring(4)}}
          </td>
          <td *ngIf="displaySaved" [ngStyle]="{ 'text-align': savedAlign }">{{song?.saved}}</td>
          <td *ngIf="displayTimeAdded" [ngStyle]="{ 'text-align': timeAddedAlign }">{{song?.timeAdded | timeAgo}}</td>
          <td *ngIf="displayTimePlayed" [ngStyle]="{ 'text-align': timePlayedAlign }">{{song?.timePlayed | timeAgo}}</td>
          <td *ngIf="displayPlayCount" [ngStyle]="{ 'text-align': playCountAlign }">{{song?.playCount}}</td>
          <td *ngIf="displayPlayCountLastMonth" [ngStyle]="{ 'text-align': playCountLastMonthAlign }">{{song?.playCountLastMonth}}</td>
        </tr>
        <tr class="fade-in-1-sec" *ngIf="!showAll && displayShowAllBt && songs?.length > nRows">
          <td [attr.colspan]="columnCount()" style="text-align: center; font-weight: bold;">
            <a (click)="showAll = true">{{showAllBtText}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12 fade-in-half-sec" style="margin-bottom: 40px;" @fade *ngIf="songs?.length == 0 && noEntitiesMessage?.length > 0">
    <div class="card-panel large transparent z-depth-0 center">
      <h3 class="grey-text">{{noEntitiesMessage}}</h3>
    </div>
  </div>
  <div #footerDiv class="track-list-collection-footer" *ngIf="injectFooterDivSelector || injectFooterElement"></div>

</div>

<div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="loadingAnimation && (!songs)">
  <div class="loader fade-in-2-sec" @fade>Loading...</div>
</div>

<app-song-menu #songContextMenu [songs]="songs" [inPlaylist]="inPlaylist" [inMusic]="inMusic" [currentPlaylist]="currentPlaylist" [playlistOwner]="playlistOwner"></app-song-menu>
<app-artist-menu #artistContextMenu [artists]="artist" [library]="library"></app-artist-menu>
<app-album-menu #albumContextMenu [library]="library"></app-album-menu>
