.front-page-header {
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0, 0, 0, 0.70)), url(../../../assets/images/front-page.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    font-weight:  bold;
  }
  
  
  .front-page-container {
    width: 50vw;
    transform: translate(50%,30vh);
    height: 50%;
  }
  
  .col {
    height: 43vh;
  }
  .front-page-fc {
    text-align: center;
    border-right: solid;
    border-color: #bdbdbd;
    border-width: thin;
  
  }
  
  .front-page-sc {
    color: yellow;
  
  }
  
  .front-page-btn {
    border-radius: 25px;
    width: 90%;
    height: 6.3vh;
    background-color: #2196f3;
    font-size: large;
  }
  .front-page-signup-btn {
    margin-top: 35%;
  }
  
  .front-page-signin-btn {
    margin-top: 7%;
    background-color: whitesmoke;
    color: #2196f3;
  }
  
  .front-page-txt-fc {
    margin-top: 6%;
    color: #9e9e9e  ;
  }
  
  .front-page-txt-sc-1 {
    margin-top: 10%;
    color: #2196f3;
    font-size: 5.5vh;
  
  }
  
  .front-page-txt-sc-2 {
    color: whitesmoke;
    font-size: 2.5vh;
  }
  .front-page-txt-sc-3 {
    color: whitesmoke;
    font-size: 1.8vh;
  }
  
  .front-page-icon-check {
    color: #2196f3;
    font-size: xx-large;
    vertical-align: text-bottom;
  }