<header class="front-page-header fade-in-4-sec">
  <div class="front-page-container">
    <div class="row">
      <div class="col s5 front-page-fc">
        <img src="assets/images/logo.png" class="front-page-logo">
        <span class="front-page-logo2">Audium</span>
        <button mz-button class="front-page-btn front-page-signup-btn btn-large" [routerLink]="['/login', 'false']">
          Sign UP
        </button>
        <div class="front-page-txt-fc">— ALREADY HAVE AN ACCOUNT? —</div>
        <button mz-button class="front-page-btn front-page-signin-btn btn" [routerLink]="['/login', 'true']">
          Sign in
        </button>
      </div>
      <div class="col s7 front-page-sc">
        <div class="front-page-txt-sc-1">Get the right music, right now</div>
        <div class="front-page-txt-sc-2">Listen to millions of songs for free.</div>
        <br>
        <div class="front-page-txt-sc-3">
          <i class="material-icons prefix front-page-icon-check ">check</i>
          Search & discover music you'll love</div>
        <div class="front-page-txt-sc-3">
          <i class="material-icons front-page-icon-check prefix">check</i>
          Create playlists of your favorite music</div>
      </div>
    </div>
  </div>
</header>
