<h1 class="fade-in-half-sec">Queue</h1>
<ng-container *ngIf="nowPlaying">
  <track-list-component
    [nRows]="1"
    [title]="'Now Playing'"
    [songs]="nowPlaying"
    [noEntitiesMessage]="'Nothing currently playing'"
    [trackNumberSuffix]="'.'"
    [displayExplicit]="true"
    [displayAlbum]="true"
    [timeAddedHeaderAlign]="'center'"
    [displayArtist]="true"
  ></track-list-component>
</ng-container>
<ng-container *ngIf="nextInQueue && nextInQueue.length > 0">
  <track-list-component
    [nRows]="nextInQueue.length"
    [title]="'Next in Queue'"
    [songs]="nextInQueue"
    [noEntitiesMessage]="'Nothing queued up'"
    [trackNumberSuffix]="'.'"
    [displayExplicit]="true"
    [displayAlbum]="true"
    [timeAddedHeaderAlign]="'center'"
    [displayArtist]="true"
  ></track-list-component>
</ng-container>
<ng-container *ngIf="nextUp">
  <track-list-component
    [nRows]="nextUp.length"
    [title]="'Next Up'"
    [songs]="nextUp"
    [noEntitiesMessage]="'Nothing to play'"
    [trackNumberSuffix]="'.'"
    [displayExplicit]="true"
    [displayAlbum]="true"
    [timeAddedHeaderAlign]="'center'"
    [displayArtist]="true"
  ></track-list-component>
</ng-container>
<!-- Loading animation -->
  <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px; margin-bottom: 0px;" *ngIf="!nowPlaying">
    <div class="loader">Loading...</div>
  </div>
