footer {
    margin: 0px;
    overflow: hidden;
  }

.tabs .tab .indicator{

  }

.card-panel {
  text-align: center;
}
body {
  background: whitesmoke;
  height: 100vh;
}

html {
  background: whitesmoke;
  height: 100%;
}

.login-page-logo {
  width: 9vw;
  vertical-align: middle;
}

.login-page-logo2 {
  vertical-align: middle;
  font-weight: bold;
  font-size: 3.5vw;
  color: #2196f3;
  margin-left: 3%;
}

.login-page-forgotpass {
  position: relative;
  float: right;
  color: white;
  font-size: small;
  margin-right: 3%;
  margin-bottom: 5%;


}
/* label color */
.input-field label {

}

/* label focus color */
.input-field input:focus + label {
  color: white;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px  white;
  box-shadow: 0 1px 0 0 white;
}

.login-page-loginbtn,.login-page-createbtn {
  background-color: #2196f3;
  border-radius: 25px;

}
.login-page-loginbtn2, .login-page-loginbtn3 {
  border-radius: 25px;
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

.input-field {
  color: white;
}

input[type="checkbox"], input[type="radio"] + label {
      pointer-events: auto;

}

input[type="radio"]:checked + label:after {
  background-color: #2196f3;
}

.login-cp1 {
  padding: 8px;
  font-size: small;
}
