.card {
    margin: 0;
}
h4 {
    width: 125px;
}

img {
    height: 300px;
    width: 300px !important;
}
#music-card-title {
    background-color: rgba(0,0,0, 0.8) !important;
    width: 300px;
    height: 150px;
}

.song-title {
    float: left;
    width: 100%;
    padding: 0 10%;
}

.music-controls {
    float: left;
    width: 100%;
}