<div class="card grey darken-3">
    <div class="card-image">
        <img src="assets/images/incolour.jpg">
        <span class="card-title black" id="music-card-title">
            <h4><a href="artist.html">Jamie xx</a></h4>
            <h3>Loud Places</h3>
            <div class="music-controls">
                <audio style="width: 100%;" class="fc-media fc-audio"><source src="https://www.grandvincent-marion.fr/_codepen/kygo-stole-the-show.mp3" type="audio/mp3"/></audio>
            </div>
        </span>
    </div>
</div>
