<div class="card grey darken-3" *ngIf="songQueue != null && songQueue.length > 0; else other_content">
  <div class="card-image">
    <a [routerLink]="['album', songQueue[queueIndex].albumId]">
      <img src="{{mediaPath}}/images/album_arts/{{songQueue[queueIndex].albumId}}/Album.jpg" onError="this.src='assets/images/defaults/album.svg'">
    </a>
    <span class="card-title black" id="music-card-title">
      <div style="padding: 0px 16px;">
        <span class="track-slider">
          <input #ref1 (change)="seekTrack(ref1.value)" class="track-slider" type=range min=0 max={{songQueue[queueIndex].sound.duration()}}
            id=fader step=1 value={{songQueue[queueIndex].sound.seek()}}>
        </span>
        <i (click)="viewQueue()" class="material-icons">playlist_play</i>        
        <div class="row" style="margin-bottom: 0px;">
          <div class="left" style="height: 50px;">
            <h5>
              <a [routerLink]="['artist', songQueue[queueIndex].artistId]">{{songQueue[queueIndex].artistName}}</a>
            </h5>
            <h4>{{songQueue[queueIndex].title}}</h4>
          </div>
          <!-- Music controls -->
          <div class="right">
            <i (click)="togglePrevious()" class="material-icons" style="vertical-align: middle;">skip_previous</i>
            <a class="btn btn-floating btn-small white pulse" (click)="togglePlayback()" aria-hidden="true" [ngClass]="{'pulse': !isPlaying, '': !isPlaying}">
              <i class="material-icons blue-text">{{playIcon}}</i>
            </a>
            <i (click)="toggleNext()" class="material-icons" style="vertical-align: middle;">skip_next</i>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0px;">
          <i (click)="toggleShuffle()" class="material-icons" [ngClass]="{'white-text': !isShuffled, 'blue-text': isShuffled}">shuffle</i>
          <i (click)="toggleRepeat()" class="material-icons" [ngClass]="{'white-text': !isRepeated, 'blue-text': isRepeated}">{{repeatIcon}}</i>
          <h4 style="display: inline; vertical-align: middle;">
            <a [routerLink]="['song', songQueue[queueIndex].songId, 'lyrics']">LYRICS</a>
          </h4>
          <i (click)="toggleMute()" class="material-icons" style="margin-left: 16px;">{{soundIcon}}</i>
          <span class="volume-slider">
            <input #ref2 [(ngModel)]="mymodel2" (ngModelChange)="changeVolume($event)" class="volume-slider" type=range min=0 max=100
              value={{volumeLevel*100}} id=fader step=1>
          </span>
        </div>
      </div>
    </span>
  </div>
</div>
<!-- If no songs loaded yet -->
<ng-template #other_content>
  <div class="card transparent">
    <div class="card-image">
      <img src="assets/images/defaults/album.svg">
      <span class="card-title black" id="music-card-title">
        <div class="row" style="margin-bottom: 0px; margin-top: 50px;">
          <h2 class="center">Start listening...</h2>
        </div>
      </span>
    </div>
  </div>
</ng-template>
