<mz-sidenav fixed="true" backgroundClass="grey darken-3" [id]="'sidenav'">
  <mz-sidenav-header>
    <div class="blue">
      <a class="audium-logo" [routerLink]="['/dash/admin-home']" (mouseover)="onMouseOverLogo()"
         (mouseout)="onMouseOutLogo()">
        <img [src]="logoImg">
        <span>Audium</span>
      </a>
      <a class="waves-effect right logout-bt" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </a>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['admin-home']" class="waves-effect">
      <div>
        <i class="material-icons" style="vertical-align: text-top">home</i>
        <span class="sidenav-text">Home</span>
      </div>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['admin-accounts']" class="waves-effect">
      <div>
        <i class="material-icons" style="vertical-align: text-top">account_box</i>
        <span class="sidenav-text">Accounts</span>
      </div>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['admin-content']" class="waves-effect">
      <div>
        <i class="material-icons" style="vertical-align: text-top">music_note</i>
        <span class="sidenav-text">Content</span>
      </div>
    </a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLinkActive="blue-text text-lighten-2" [routerLink]="['admin-artists']" class="waves-effect">
      <div>
        <i class="material-icons" style="vertical-align: text-top">record_voice_over</i>
        <span class="sidenav-text">Artists</span>
      </div>
    </a>
  </mz-sidenav-link>

</mz-sidenav>

