<div class="row center">
  <div class="white-text darken-2 left admincontent-title-text">{{this.title}}</div>

  <!-- ADD ARTIST -->

  <div class="" *ngIf="this.toAddArtist">
    <form #form="ngForm">
      <div class="col s12 admin-content-inputs">
        <div *ngIf="!contentAddCheck" class="card-panel red lighten-1 center-align notif">Artist addition failed. Please
          try again.
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ngModel #title required name="ArtistName" id="ArtistName" [(ngModel)]="sT"
                   type="text" class="validate" (blur)="sT = formatFirstLetter(sT)">
            <label for="ArtistName" class="active">Artist Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <mz-select-container>
              <select mz-select
                      ngModel
                      required
                      name="label"
                      id="genre"
                      class="white-text">
                <option value=""></option>
                <option *ngFor="let label of labels" value="{{label[0]}}">{{label[1]}}</option>
              </select>
            </mz-select-container>
            <label for="genre" class="active">Label</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <mz-textarea-container>
              <textarea ngModel name="bio" id="bio"
                        placeholder="Enter a brief description">
              </textarea>
            </mz-textarea-container>
            <label for="bio" class="active">Bio</label>
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- DELETE ARTIST -->

  <div *ngIf="this.toDeleteArtist" class="admin-content-inputs">
    <div class="row">
      <div class="input-field col s12  center">
        <input ngModel
               #accountId
               name="ccNumber" id="cc"
               type="text"
               [(ngModel)]="this.artistIdToDelete"
        >
        <label class="active" for="cc">Artist ID</label>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions class="row">
  <div class="col s12 center">
    <button mz-button *ngIf="this.toDeleteArtist"
            type='button'
            [flat]="true"
            class=" waves-effect"
            [disabled]="this.accountIdToDelete === ''"
            (click)="deleteArtist()"
    > Delete
    </button>
    <button mz-button *ngIf="this.toAddArtist"
            [flat]="true"
            class=" waves-effect"
            (click)="createArtist()"
    > Add
    </button>
    <button mz-button mat-dialog-close
            [flat]="true"
            class="waves-effect"
            mat-dialog-close
    >Cancel
    </button>
  </div>
</mat-dialog-actions>

