.content-searchicon {
    position: absolute;
    font-size: xx-large;
    bottom: 10%;
}

td {
    font-size: x-large;
}

th {
    font-size: x-large;
}

.search-del-btn {
    color: #2196f3;
    font-size: large;
}


.search-del-btn:hover {
    color: white;
    background-color: transparent;
}

.test {
    position: fixed;
    bottom: 100px;
}

.close-icon {
    color: white;
}

.close-icon:hover {
    color: #616161;
}

.close-icon-i {
    font-size: 4rem;
}

table {
    table-layout: fixed;
}

input[type=search] {
    font-size: large;
}
