
<div class="entity-card-collection-main" style="margin-top: 50px;" #mainDiv *ngIf="e">
  <div class="entity-card-collection-title row fade-in-half-sec" *ngIf="entities() && title?.length > 0">
    <h2 class="center">{{title}}</h2>
  </div>
  <div class="entity-card-collection-content row fade-in-half-sec center-align" *ngIf="entities()?.length > 0">
    <div class="fade-in-1-sec center-align" [ngStyle]="{ 'margin-bottom.px': (cardWidth / 20) }" [ngClass]="getCardGridClass()"
    *ngFor="let entity of showAll ? entities() : entities()?.slice(0, (entities()?.length > (this.nRows * this.nPerRow) ? ((this.nRows * this.nPerRow) - 1) : (this.nRows * this.nPerRow))); let i = index; let entityId = 'id(index)';">
      <div class="card transparent center-align" *ngIf="entity" [ngStyle]="{ 'width.px': cardWidth }">
        <div class="card-image hoverable fade-in-1-sec" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
          <div class="entity-div" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
            <div class="transparent valign-wrapper" style="padding: 0px;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
              <img class="entity-card-img" [src]="imagePath(i)" (error)="onImageError(i)" [ngStyle]="{ 'width.px': cardWidth, 'height': 'auto' }">
              <div class="card-play-bt-wrapper valign-wrapper noSelect" style="position: absolute; top: 0px;" [routerLink]="[detailedEntityPage(i)]" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
                <div class="card-play-bt-inner-wrapper" *ngIf="playing; then pauseElement else playElement"></div>
                <ng-template #playElement>
                  <h1 class="col s12 card-play-bt-inner-wrapper" style="text-align: center; margin-bottom: 0px;">
                    <a (click)="play($event, i)">
                      <i class="material-icons card-play-icon" [ngStyle]="{ 'font-size.px': getCardIconSize() }">play_circle_outline</i>
                    </a>
                  </h1>
                </ng-template>
                <ng-template #pauseElement>
                  <h1 class="col s12 card-play-bt-inner-wrapper" style="text-align: center; margin-bottom: 0px;">
                    <a (click)="pause($event)">
                      <i class="material-icons card-play-icon" [ngStyle]="{ 'font-size.px': getCardIconSize() }">pause_circle_outline</i>
                    </a>
                  </h1>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 center card-entity-info" style="margin-top: 8px;">
          <h3 class="white-grey-link"><a class="truncate" [routerLink]="[detailedEntityPage(i)]">{{entities()[i][titleAttr[e]]}}</a></h3>
          <h4 style="margin-top: 3px;" *ngIf="displayAuthor"><a class="truncate" [routerLink]="[detailedAuthorPage(i)]">{{entities()[i][authorNameAttr[e]]}}</a></h4>
          <h4 style="margin-top: 3px;" *ngIf="displayYear">{{entities()[i]['releaseYear'].substring(0,4)}}</h4>
        </div>
      </div>
    </div>
    <div class="fade-in-1-sec" [ngClass]="getCardGridClass()" *ngIf="getShowMoreBt()">
      <div class="card transparent hoverable" [ngStyle]="{ 'width.px': cardWidth }">
        <div class="card-image" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
          <div class="valign-wrapper grey darken-3" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
            <a (click)="showAll = true">
              <div class="btn transparent more-bt" style="padding: 0px;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
                <div style="padding: 0px;" [ngClass]="getMoreBtImgGridClass()"
                *ngFor="let entity of entities()?.slice(((this.nRows * this.nPerRow) - 1), getMoreBtEndIndex()); let i = index;">
                  <div class="card transparent" style="margin: 0px;">
                    <div class="card-image" *ngIf="entity" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                      <div class="entity-div valign-wrapper" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                          <img class="entity-card-img" [src]="imagePath(i + ((this.nRows * this.nPerRow) - 1))" (error)="onImageError(i + ((this.nRows * this.nPerRow) - 1))" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': 'auto' }">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grey darken-3" [ngClass]="getMoreBtImgGridClass()" style="padding: 0px;" *ngIf="getShowRemainingCount()">
                  <div class="card-image" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                    <div class="valign-wrapper" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                        <div class="col s12 grey-text" style="text-align: center;">+{{getRemainingCount()}}</div>
                    </div>
                  </div>
                </div>
                <div class="more-bt-label valign-wrapper" style="position: absolute;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
                  <h2 class="col s12" style="text-align: center;" [ngStyle]="{ 'font-size.px': (cardWidth / 8) }">{{showAllBtHoverText}}</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 fade-in-half-sec" style="margin-bottom: 40px;" *ngIf="entities()?.length == 0 && noEntitiesMessage?.length > 0">
    <div class="card-panel large transparent z-depth-0 center">
      <h3 class="grey-text">{{noEntitiesMessage}}</h3>
    </div>
  </div>
  <div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="loadingAnimation && !entities()">
    <div class="loader">Loading...</div>
  </div>
</div>
