
<div class="entity-card-collection-main" style="background-color: transparent; color: inherit;" #mainDiv *ngIf="e">
  <div #headerDiv class="entity-card-collection-header" *ngIf="injectHeaderDivSelector || injectHeaderElement"></div>
  <div #titleDiv class="entity-card-collection-title row" *ngIf="entities() && (title?.length > 0 || forceDisplayTitleDiv || injectTitleElementSelector || injectTitleElement)">
    <ng-template class="fade-in-half-sec" *ngIf="titleUseHtml; then htmlTitleElement else defaultTitleElement"></ng-template>
    <ng-template #defaultTitleElement>
      <h2 class="fade-in-1-sec center"  style="margin-top: 50px;" *ngIf="title?.length > 0">{{title}}</h2>
    </ng-template>
    <ng-template #htmlTitleElement>
      <div [innerHTML]="title | safeHtml"></div>
    </ng-template>
  </div>
  <!-- Entity cards -->
  <div #subtitleDiv class="entity-card-collection-subtitle" *ngIf="injectSubtitleDivSelector || injectSubtitleElement"></div>
  <div class="entity-card-collection-content row fade-in-half-sec center-align" *ngIf="entities()?.length > 0"
    [ngStyle]="{ 'margin.px': collectionPadding ? '' : 0 }" >
    <div class="fade-in-1-sec center-align entity-card-collection-grid" @fade #entityCollectionGrid [ngStyle]="{ 'margin-bottom.px': entityPadding ? (cardWidth / 20) : 0, 'padding.px': entityPadding ? '' : 0 }" [ngClass]="getCardGridClass() + ' ' + collectionAddClass"
    *ngFor="let entity of showAll ? entities() : entities()?.slice(0, (displayShowAllBt ? (entities()?.length > (this.nRows * this.nPerRow) ? ((this.nRows * this.nPerRow) - 1) : (this.nRows * this.nPerRow)) : (this.nRows * this.nPerRow))); let i = index; let entityId = 'id(index)';"
    (contextmenu)="disableContextMenu ? doNothing($event, i) : (e == ALBUM ? albumContextMenu.onContextMenu($event, entities()[i]) : (e == ARTIST ? artistContextMenu.onContextMenu($event, entities()[i]) : e == PLAYLIST ? playlistContextMenu.onContextMenu($event, entities()[i]) : profileContextMenu.onContextMenu($event, entities()[i])))" [attr.data-index]="i">
      <div class="card transparent center-align fade-in-1-sec" *ngIf="entity" [ngStyle]="{ 'width.px': cardWidth, 'margin': entityPadding ? '' : 0 }" [ngClass]="entityAddClass">
        <div class="card-image fade-in-1-sec" [ngClass]="disableHoverable ? '' : 'hoverable'" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
          <div class="entity-div fade-in-1-sec" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
            <div class="transparent valign-wrapper fade-in-1-sec" style="padding: 0px;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
              <img class="entity-card-img fade-in-1-sec" [src]="imagePath(i)" (error)="onImageError(i)" [ngStyle]="{ 'width.px': cardWidth, 'height': cardWidth }">
              <div
                *ngIf="!disablePlayPauseBt"disableContextMenu
                class="card-play-bt-wrapper valign-wrapper noSelect"
                style="position: absolute; top: 0px;"
                [routerLink]="[detailedEntityPage(i)]"
                [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth, 'cursor': (disableImageLink || ((router?.url == detailedEntityPage(i)) && (!forceEnableImageLink))) ? 'default' : 'pointer' }"
              >
                <div class="card-play-bt-inner-wrapper" *ngIf="playing; then pauseElement else playElement"></div>
                <ng-template #playElement>
                  <h1 class="col s12 card-play-bt-inner-wrapper" style="text-align: center; margin-bottom: 0px;">
                    <a (click)="play($event, i)">
                      <i class="material-icons card-play-icon" [ngStyle]="{ 'font-size.px': getCardIconSize() }">play_circle_outline</i>
                    </a>
                  </h1>
                </ng-template>
                <ng-template #pauseElement>
                  <h1 class="col s12 card-play-bt-inner-wrapper" style="text-align: center; margin-bottom: 0px;">
                    <a (click)="pause($event)">
                      <i class="material-icons card-play-icon" [ngStyle]="{ 'font-size.px': getCardIconSize() }">pause_circle_outline</i>
                    </a>
                  </h1>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 center card-entity-info" style="margin-top: 8px;">
          <h3 class="white-grey-link" *ngIf="displayName"><a class="truncate" [routerLink]="[detailedEntityPage(i)]">{{entities()[i][titleAttr[e]]}}</a></h3>
          <h4 style="margin-top: 3px;" *ngIf="displayAuthor"><a class="truncate" [routerLink]="[detailedAuthorPage(i)]">{{authorName(i)}}</a></h4>
          <h4 style="margin-top: 3px;" *ngIf="displayYear">{{entities()[i]['releaseYear'].substring(0,4)}}</h4>
        </div>
      </div>
    </div>
    <!-- "Show all" button -->
    <div class="fade-in-1-sec entity-card-collection-show-all-bt" @fade #showAllBt [ngStyle]="{ 'margin-bottom.px': entityPadding ? (cardWidth / 20) : 0, 'padding.px': entityPadding ? '' : 0 }" [ngClass]="collectionAddClass + ' ' + getCardGridClass()" *ngIf="getShowAllBt()">
      <div class="card transparent" [ngClass]="entityAddClass + ' ' + (disableHoverable ? '' : 'hoverable')" [ngStyle]="{ 'width.px': cardWidth }">
        <div class="card-image" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
          <div class="valign-wrapper grey darken-3" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
            <a (click)="showAll = true">
              <div class="btn transparent more-bt" style="padding: 0px;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
                <div style="padding: 0px;" [ngClass]="getShowAllBtImgGridClass()"
                *ngFor="let entity of entities()?.slice(((this.nRows * this.nPerRow) - 1), getShowAllBtEndIndex()); let i = index;">
                  <div class="card transparent" style="margin: 0px;">
                    <div class="card-image" *ngIf="entity" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                      <div class="entity-div valign-wrapper" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                          <img class="entity-card-img" [src]="imagePath(i + ((this.nRows * this.nPerRow) - 1))" (error)="onImageError(i + ((this.nRows * this.nPerRow) - 1))" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': 'auto' }">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grey darken-3" [ngClass]="getShowAllBtImgGridClass()" style="padding: 0px;" *ngIf="getShowRemainingCount()">
                  <div class="card-image" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                    <div class="valign-wrapper" [ngStyle]="{ 'width.px': (cardWidth / nRowsInShowAllBt), 'height.px': (cardWidth / nRowsInShowAllBt) }">
                        <div class="col s12 grey-text" style="text-align: center; margin: 0px; padding: 0px;">+{{getRemainingCount()}}</div>
                    </div>
                  </div>
                </div>
                <div class="more-bt-label valign-wrapper" style="position: absolute;" [ngStyle]="{ 'width.px': cardWidth, 'height.px': cardWidth }">
                  <h2 class="col s12" style="text-align: center;" [ngStyle]="{ 'font-size.px': (cardWidth / 8) }">{{showAllBtHoverText}}</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 fade-in-half-sec" style="margin-bottom: 40px;" *ngIf="entities()?.length == 0 && noEntitiesMessage?.length > 0">
    <div class="card-panel large transparent z-depth-0 center">
      <h3 class="grey-text">{{noEntitiesMessage}}</h3>
    </div>
  </div>
  <div #footerDiv class="entity-card-collection-footer" *ngIf="injectFooterDivSelector || injectFooterElement"></div>
</div>

<div class="row fade-in-2-sec valign-wrapper" style="min-height: 250px;" *ngIf="loadingAnimation && (!e || !entities())">
  <div class="loader fade-in-2-sec" @fade>Loading...</div>
</div>

<app-album-menu #albumContextMenu [albums]="albums" [library]="libraryContextMenu"></app-album-menu>
<app-artist-menu #artistContextMenu [artists]="artists" [library]="libraryContextMenu"></app-artist-menu>
<app-playlist-menu #playlistContextMenu [playlists]="playlists" [library]="libraryContextMenu" [detailed]="detailedContextMenu"></app-playlist-menu>
<!-- @TODO
<app-profile-menu #profileContextMenu [profiles]="profiles" [library]="libraryContextMenu"></app-artist-menu>
-->
