<h1>Search</h1>

<div class="row" *ngIf="songs?.length > 0">
  <div class="row fade-in-half-sec">
    <h2 class="center">Songs</h2>
  </div>
  <table class="bordered responsive-table white-text fade-in-half-sec">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody class="tracklist">
      <tr *ngFor="let song of songs; let i = index;" (dblclick)="playSongs(i)">
        <td>{{song.title}}</td>
        <td>
          <a [routerLink]="['../../artist', song?.artistId]">{{song?.artistName}}</a>
        </td>
        <td>
          <a [routerLink]="['../../album', song?.albumId]">{{song?.albumTitle}}</a>
        </td>
        <td>
          <!-- NOTE: Putting these spans on separate lines creates a space for some reason. Though ugly, we should keep them on the same line -->
          <span *ngIf="song?.duration?.substring(0,3) != '00:'">{{song?.duration?.substring(0,3)}}</span><span *ngIf="song?.duration?.substring(3,4) != '0' || song?.duration?.substring(0,3) != '00:'">{{song?.duration?.substring(3,4)}}</span>{{song?.duration?.substring(4)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="artists?.length > 0">
  <h2 class="center fade-in-half-sec">Artists</h2>
</div>
<div class="row">
  <div class="col s12 m2" *ngFor="let artist of artists">
    <div class="card hoverable transparent fade-in-half-sec">
      <div class="card-image">
        <a [routerLink]="['../../artist', artist?.artistId]">
          <img src="{{mediaPath}}/images/artists/{{artist?.artistId}}/Profile.jpg" onError="this.src='assets/images/defaults/artist.svg'">          
        </a>
        <span class="card-title black" id="small-card-title">
          <h4 class="truncate"><a [routerLink]="['../../artist', artist?.artistId]">{{artist?.artistName}}</a></h4>
        </span>
        <a (click)="playArtistSongs(artist?.artistId)" class="btn-floating halfway-fab waves-effect waves-light blue">
          <i class="material-icons">play_arrow</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="albums?.length > 0">
  <h2 class="center fade-in-half-sec">Albums</h2>
</div>
<div class="row">
  <div class="col s12 m2" *ngFor="let album of albums">
    <div class="card hoverable fade-in-half-sec">
      <div class="card-image" #albumcarddiv (window:resize)="0" [ngStyle]="{'min-height.px': albumcarddiv.offsetWidth, 'max-height.px': albumcarddiv.offsetWidth }">
        <div class="album-div valign-wrapper" [ngStyle]="{'min-height.px': albumcarddiv.offsetWidth, 'max-height.px': albumcarddiv.offsetWidth }">
          <a [routerLink]="['../../artist', album?.artist?.artistId]">
            <img class="album-img" src="{{mediaPath}}/images/album_arts/{{album?.albumId}}/Album.jpg" onError="this.src='assets/images/defaults/album.svg'" [ngStyle]="{'min-width.px': albumcarddiv.offsetWidth }">
          </a>
          <span class="card-title black" id="small-card-title">
            <h4 class="truncate"><a [routerLink]="['../../album', album?.albumId]">{{album?.albumTitle}}</a></h4>
            <h5 class="truncate"><a [routerLink]="['../../artist', album?.artist?.artistId]">{{album?.artist?.artistName}}</a></h5>
          </span>
          <a (click)="playAlbumSongs(album?.albumId)" class="btn-floating halfway-fab waves-effect waves-light blue">
            <i class="material-icons">play_arrow</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="playlists?.length > 0">
  <h2 class="center fade-in-half-sec">Playlists</h2>
</div>
<div class="row">
  <div class="col s12 m2" *ngFor="let playlist of playlists">
    <div class="card hoverable fade-in-half-sec">
      <div class="card-image">
        <a [routerLink]="['../../playlist', playlist?.playlistId]">
          <img src="assets/images/everything-now.jpg">
        </a>
        <span class="card-title black" id="small-card-title">
          <h4 class="truncate"><a [routerLink]="['../../playlist', playlist?.playlistId]">{{playlist?.name}}</a></h4>
          <h5 class="truncate">by <a [routerLink]="['../../profile', playlist?.creator?.accountId]">{{playlist?.creator?.username}}</a></h5>
        </span>
        <a (click)="playPlaylistSongs(playlist?.playlistId)" class="btn-floating halfway-fab waves-effect waves-light blue">
          <i class="material-icons">play_arrow</i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="profiles?.length > 0">
  <h2 class="center fade-in-half-sec">Profiles</h2>
</div>
<div class="row">
  <ul class="collection fade-in-half-sec" style="margin-top: 20px; border: none;">
    <li class="collection-item avatar grey darken-4" *ngFor="let profile of profiles">
      <a [routerLink]="['../../profile', profile?.accountId]">
        <img src="assets/images/defaults/user_profile.svg" alt="" class="circle hoverable">
      </a>
      <span class="title white-text profile-link"><a [routerLink]="['../../profile', profile?.accountId]">{{profile?.username}}</a></span>
      <p class="white-text">{{profile?.followerCount}} Follower<span *ngIf="profile?.followerCount != 1">s</span>
        <br>
      </p>
      <a href="#!" class="secondary-content">
        <a class="waves-effect waves-light btn">Follow</a>
      </a>
    </li>
  </ul>
</div>

<!-- Loading animation -->
<div class="row fade-in-2-sec" *ngIf="!songs || !albums || !artists || !playlists || !profiles">
  <div class="loader">Loading...</div>
</div>
